body {
	margin: 0px; padding: 0px;
}
div {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
dt {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
ol {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
h3 {
	margin: 0px; padding: 0px;
}
h4 {
	margin: 0px; padding: 0px;
}
h5 {
	margin: 0px; padding: 0px;
}
h6 {
	margin: 0px; padding: 0px;
}
pre {
	margin: 0px; padding: 0px;
}
code {
	margin: 0px; padding: 0px;
}
form {
	margin: 0px; padding: 0px;
}
fieldset {
	margin: 0px; padding: 0px;
}
legend {
	margin: 0px; padding: 0px;
}
input {
	margin: 0px; padding: 0px;
}
textarea {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
blockquote {
	margin: 0px; padding: 0px;
}
th {
	margin: 0px; padding: 0px;
}
td {
	margin: 0px; padding: 0px;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
fieldset {
	border: 0px currentColor;
}
a img {
	border: 0px currentColor;
}
img {
	border: 0px currentColor;
}
address {
	font-style: normal; font-weight: normal;
}
caption {
	font-style: normal; font-weight: normal;
}
cite {
	font-style: normal; font-weight: normal;
}
code {
	font-style: normal; font-weight: normal;
}
dfn {
	font-style: normal; font-weight: normal;
}
i {
	font-style: normal; font-weight: normal;
}
em {
	font-style: normal; font-weight: normal;
}
strong {
	font-style: normal; font-weight: normal;
}
th {
	font-style: normal; font-weight: normal;
}
var {
	font-style: normal; font-weight: normal;
}
ol {
	list-style: none; margin: 0px; padding: 0px;
}
ul {
	list-style: none; margin: 0px; padding: 0px;
}
li {
	list-style: none; margin: 0px; padding: 0px;
}
caption {
	text-align: left;
}
th {
	text-align: left;
}
h1 {
	font-family: "Microsoft Yahei",tohoma,arial,"Hiragino Sans GB",sans-serif,"宋体"; font-size: 100%; font-weight: normal;
}
h2 {
	font-family: "Microsoft Yahei",tohoma,arial,"Hiragino Sans GB",sans-serif,"宋体"; font-size: 100%; font-weight: normal;
}
h3 {
	font-family: "Microsoft Yahei",tohoma,arial,"Hiragino Sans GB",sans-serif,"宋体"; font-size: 100%; font-weight: normal;
}
h4 {
	font-family: "Microsoft Yahei",tohoma,arial,"Hiragino Sans GB",sans-serif,"宋体"; font-size: 100%; font-weight: normal;
}
h5 {
	font-family: "Microsoft Yahei",tohoma,arial,"Hiragino Sans GB",sans-serif,"宋体"; font-size: 100%; font-weight: normal;
}
h6 {
	font-family: "Microsoft Yahei",tohoma,arial,"Hiragino Sans GB",sans-serif,"宋体"; font-size: 100%; font-weight: normal;
}
q::before {
	content: "";
}
q::after {
	content: "";
}
abbr {
	border: 0px currentColor; font-variant: normal;
}
acronym {
	border: 0px currentColor; font-variant: normal;
}
sup {
	vertical-align: text-top;
}
sub {
	vertical-align: text-bottom;
}
input {
	font-family: inherit; font-size: inherit; font-weight: inherit;
}
textarea {
	font-family: inherit; font-size: inherit; font-weight: inherit;
}
select {
	font-family: inherit; font-size: inherit; font-weight: inherit;
}
html {
	background: rgb(255, 255, 255);
}
body {
	background: rgb(255, 255, 255);
}
body {
	background: rgb(255, 255, 255); color: rgb(73, 73, 73); line-height: 24px; font-family: tohoma,arial,"Hiragino Sans GB","Microsoft Yahei",sans-serif,"宋体"; font-size: 12px; min-width: 1190px;
}
a {
	color: rgb(73, 73, 73); text-decoration: none;
}
.hidden {
	display: none !important;
}
.show {
	display: block !important;
}
.clearfix::after {
	height: 0px; clear: both; display: block; content: "";
}
.clearfix {
	zoom: 1;
}
.row {
	margin: auto; width: 1190px;
}
.fl {
	float: left !important;
}
.fr {
	float: right !important;
}
.posrel {
	position: relative;
}
.posabs {
	position: absolute;
}
.color-hui {
	color: rgb(152, 152, 152);
}
.color-hei {
	color: rgb(73, 73, 73);
}
.color-cheng {
	color: rgb(252, 83, 0);
}
.f20 {
	font-size: 20px;
}
#header_nav {
	background: rgb(248, 248, 248); width: 100%; height: 30px; line-height: 30px; border-bottom-color: rgb(236, 236, 236); border-bottom-width: 1px; border-bottom-style: solid; position: relative; z-index: 200;
}
#header_nav .tel {
	color: rgb(179, 179, 179); float: left;
}
#header_nav .tel strong {
	color: rgb(252, 83, 0); font-weight: bold;
}
#header_nav .collect {
	padding: 0px 20px; float: left; position: relative; cursor: pointer;
}
#header_nav .online {
	background: url("icons.__1431674115__.png") no-repeat -100px -1040px; margin: 5px 0px 0px 12px; width: 75px; height: 20px; float: left; display: inline-block;
}
.i-star {
	background: url("icons_gif.__1432523167__.gif") no-repeat 0px -240px; left: 2px; top: -1px; width: 15px; height: 14px; position: absolute;
}
#header_nav .collect .i-star {
	top: 7px;
}
#header_nav .fr .clearfix {
	width: 224px; height: 0px; line-height: 0;
}
#header_nav .fr span {
	float: left;
}
#header_nav .fr span a {
	padding: 0px 19px; border-left-color: rgb(214, 214, 214); border-left-width: 1px; border-left-style: solid;
}
#header_nav .fr .navlinks {
	position: relative;
}
#header_nav .fr a.navlink {
	padding: 0px 23px 0px 15px; border-right-color: rgb(214, 214, 214); border-right-width: 1px; border-right-style: solid; position: relative; z-index: 102;
}
#header_nav .fr a.navlink i {
	background: url("icons.__1431674115__.png") no-repeat 3px 0px; top: 5px; width: 15px; height: 10px; right: 4px; display: block; position: absolute;
}
#header_nav .navlinks_dl {
	background: rgb(255, 255, 255); padding: 10px 20px; border: 1px solid rgb(210, 210, 210); top: 29px; width: 400px; right: -1px; line-height: 30px; display: none; position: absolute; z-index: 101;
}
#header_nav .navlinks_dl dl {
	width: 80px; float: left;
}
#header_nav .navlinks_dl dl a {
	padding: 0px; border: 0px currentColor;
}
#header_nav .navlinks_dl dl dt {
	font-weight: bold;
}
#header_nav .on {
	background: rgb(255, 255, 255); border-right-color: rgb(210, 210, 210); border-left-color: rgb(210, 210, 210); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid;
}
#header_nav .on a.navlink {
	background: rgb(255, 255, 255); border: 0px currentColor; float: left; _border-top: 1px #ccc solid;
}
#header_nav .on a.navlink i {
	top: 13px;
}
#header_nav .on .navlinks_dl {
	display: block;
}
#header {
	position: relative; z-index: 8;
}
#header .logo {
	padding: 20px 0px; float: left;
}
#header .logo a {
	background: url("logo.__1394092426__.png") no-repeat 5px 0px; width: 280px; height: 50px; text-indent: -82982px; display: block;
}
#header .search {
	margin: 20px 20px 20px 70px; border: 2px solid rgb(252, 83, 0); width: 446px; height: 32px; float: left;
}
#header .search .search_box {
	background: rgb(255, 255, 255); margin: 0px; padding: 0px; height: 32px; line-height: 32px;
}
#header .search .search_box .fl {
	height: 32px; position: relative;
}
#header .search .search_box .fl i {
	background: url("icons.__1431674115__.png") no-repeat -40px -20px; margin: 5px; width: 20px; height: 20px; float: left;
}
#header .search .search_box .fl input {
	padding: 6px 5px; outline: 0px; border: 0px currentColor; width: 334px; height: 20px; color: rgb(179, 179, 179); line-height: 20px; font-size: 14px; float: left;
}
#header .search .search_box .fl input.on {
	color: rgb(51, 51, 51);
}
#header .search .search_box .fr {
	background: rgb(252, 83, 0); width: 72px; height: 32px;
}
#header .search .search_box .fr button {
	background: rgb(252, 83, 0); outline: 0px; border: 0px currentColor; width: 72px; text-align: center; color: rgb(255, 255, 255); line-height: 28px; font-size: 14px; font-weight: bold; cursor: pointer;
}
#header .search .search_box .fr input {
	background: rgb(252, 83, 0); outline: 0px; border: 0px currentColor; width: 72px; text-align: center; color: rgb(255, 255, 255); line-height: 28px; font-size: 14px; font-weight: bold; cursor: pointer;
}
#header .search .search_box .click_input i {
	display: none;
}
#header .search .search_box .click_input input {
	width: 330px; color: rgb(73, 73, 73);
}
.search .hot-words {
	top: 6px; right: 8px; line-height: 20px; font-family: "Microsoft YaHei"; font-size: 12px; position: absolute;
}
.search .hot-words a {
	background: rgb(230, 230, 230); padding: 0px 7px; margin-left: 5px; display: inline-block;
}
#header .city {
	background: rgb(247, 247, 247); padding: 5px 10px; border: 1px solid rgb(231, 231, 231); left: 10px; top: 20px; height: 24px; line-height: 24px; float: left; display: inline-block; position: relative; cursor: pointer;
}
#header .city i {
	background: url("icons.__1431674115__.png") no-repeat -20px -19px; width: 18px; height: 18px; margin-top: 3px; float: left;
}
#header .city span.oncity {
	font-weight: 700;
}
#header .city_on {
	background: rgb(252, 83, 0); border-color: rgb(255, 51, 0); color: rgb(255, 255, 255);
}
#header .city_on a {
	color: rgb(255, 255, 255);
}
#header .city_on i {
	background-position: 0px -19px;
}
#header .down {
	background: rgb(255, 255, 255); padding: 10px 10px 0px; border: 2px solid rgb(252, 83, 0); left: -1px; top: 34px; width: 400px; color: rgb(73, 73, 73); display: none; position: absolute; cursor: default;
}
#header .down a {
	color: rgb(73, 73, 73);
}
#header .down dl {
	margin: 5px; padding: 5px; clear: both;
}
#header .down .d1 {
	border-bottom-color: rgb(210, 210, 210); border-bottom-width: 1px; border-bottom-style: dashed;
}
#header .down dt {
	margin: 0px 0px 6px 3px; font-weight: bold;
}
#header .down dd {
	margin: 0px 0px 5px; width: 54px; line-height: 18px; float: left; display: inline;
}
#header .down dd a {
	padding: 0px 3px; display: inline-block;
}
#header .down dd a.current {
	background: rgb(252, 83, 0); color: rgb(255, 255, 255);
}
#header .down dd a:hover {
	color: rgb(252, 83, 0);
}
#header .down dd a.current:hover {
	color: rgb(255, 255, 255); text-decoration: none;
}
#header .down .d1 {
	margin-bottom: -2px; border-bottom-color: rgb(233, 233, 233); border-bottom-width: 1px; border-bottom-style: dashed;
}
#header .down .more {
	padding: 0px 10px 10px; float: right;
}
#header .down .more a {
	padding: 0px 0px 0px 17px; color: rgb(252, 83, 0); display: inline-block;
}
#header .down .more a i {
	background: url("icons.__1431674115__.png") no-repeat -40px 2px; width: 18px; height: 18px; display: inline-block;
}
#header .city_on .down {
	display: block;
}
#header .ad {
	float: right;
}
#header .ad img {
	width: 215px; height: 93px;
}
#header .other {
	float: right;
}
#header .other .item {
	width: 65px; text-align: center; float: left;
}
#header .other .icon {
	background: url("icons.__1431674115__.png") no-repeat -120px -910px; width: 46px; height: 46px; margin-top: 15px; display: inline-block;
}
#header .other .icon-2 {
	background-position: -180px -910px;
}
#header .other .icon-3 {
	background-position: -240px -910px;
}
#header .other .text {
	font-size: 14px; display: block;
}
#nav {
	background: rgb(50, 50, 50); width: 100%; position: relative; z-index: 7;
}
#nav li {
	float: left;
}
#nav li a {
	padding: 0px 20px; height: 40px; color: rgb(255, 255, 255); line-height: 40px; font-size: 16px;  float: left; display: block;
}
#nav li a.bbs {
	position: relative;
}
#nav li a.bbs i.i-new {
	background: url("icons.__1431674115__.png") no-repeat -630px -830px; left: 55px; top: -5px; width: 29px; height: 18px; display: inline-block; position: absolute;
}
#nav li a:hover {
	text-decoration: none; border-right-color: rgb(252, 83, 0); background-color: rgb(252, 83, 0);
}
#nav li.fr {
	padding: 9px 0px 0px; width: 210px;
}
#nav li.fr span {
	height: 18px; line-height: 18px; padding-left: 10px; margin-right: 10px; border-left-color: rgb(61, 61, 61); border-left-width: 1px; border-left-style: solid; float: left;
}
#nav li.fr .app {
	border: 0px currentColor;
}
#nav li.fr .app i {
	background: url("icons.__1431674115__.png") no-repeat -60px -40px; top: -1px; width: 20px; height: 20px; float: left; position: relative;
}
#nav li.fr a {
	padding: 0px; border: 0px currentColor; height: 20px; color: rgb(193, 193, 193); line-height: 20px; font-size: 14px; float: left;
}
#nav li.fr a:hover {
	color: rgb(252, 83, 0);
}
#nav li.ensure {
	width: 200px; text-align: center; float: right;
}
#nav li.ensure span {
	padding: 10px 0px 0px; overflow: hidden; display: inline-block;
}
#nav li.ensure a {
	padding: 0px; border: 0px currentColor; height: 20px; line-height: 20px;
}
#nav li.ensure a:hover {
	color: rgb(252, 83, 0);
}
#nav li.ensure .ico-ensure {
	background: url("icons_gif.__1432523167__.gif") no-repeat -90px -239px; width: 20px; height: 20px; margin-right: 5px; float: left; display: inline;
}
#banner {
	background: rgb(0, 0, 0); width: 100%; height: 450px; overflow: hidden; position: relative; z-index: 6;
}
#banner .slider {
	width: 100%; height: 450px; overflow: hidden; position: relative;
}
#banner .slider ul {
	width: 100%; height: 450px; overflow: hidden; position: relative;
}
#banner .slider ul li {
	margin: 0px 0px 0px -1400px; left: 50%; top: 0px; position: absolute;
}
#banner .slider ul li a img {
	width: 2800px;
}
#banner .slider ul li a {
	width: 100%; height: 450px; display: block;
}
#banner .num {
	padding: 0px; width: 100%; height: 35px; bottom: 10px; line-height: 35px; overflow: hidden; position: absolute;
}
#banner .num ol {
	width: 100%; text-align: center;
}
#banner .num ol li {
	background: url("icons.__1431674115__.png") no-repeat -344px 0px; width: 34px; height: 35px !important; line-height: 35px !important; margin-right: 10px; display: inline-block; cursor: pointer;
}
#banner .num ol li.on {
	background: url("icons.__1431674115__.png") no-repeat -310px 0px;
}
#banner .btn {
	top: 0px; width: 100%; position: absolute;
}
#banner .btn .btn-group {
	margin: 0px 200px 0px 250px; height: 450px; position: relative;
}
#banner .btn a {
	top: 50%; width: 50px; height: 100px; margin-top: -50px; filter: alpha(opacity=70); position: absolute; z-index: 2; opacity: 0.7; background-color: rgb(0, 0, 0);
}
#banner .btn-left {
	left: 0px;
}
#banner .btn-right {
	right: 0px;
}
#banner .btn i {
	margin: 35px 19px 0px 14px; width: 17px; height: 31px; overflow: hidden; display: block; cursor: pointer; background-image: url("icons.__1431674115__.png"); background-repeat: no-repeat;
}
#banner .s-left {
	background-position: 0px -980px;
}
#banner .s-right {
	background-position: -30px -980px;
}
#banner .btn a:hover .s-left {
	background-position: -60px -980px;
}
#banner .btn a:hover .s-right {
	background-position: -90px -980px;
}
#main {
	margin: 20px auto;
}
#main .row {
	margin-bottom: 20px;
}
.title1 {
	background: url("title1_bg.__1394092426__.png") repeat-x 0px 0px rgb(247, 247, 247); height: 40px; border-right-color: rgb(235, 235, 235); border-left-color: rgb(235, 235, 235); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; position: relative;
}
.title1 h2 {
	height: 40px; line-height: 40px; font-size: 14px; font-weight: bold; border-right-color: rgb(235, 235, 235); border-right-width: 1px; border-right-style: solid; float: left;
}
.title1 h2 a {
	padding: 0px 20px; height: 40px; color: rgb(73, 73, 73); display: inline-block;
}
.title1 h2 a:hover {
	text-decoration: none;
}
.title1 h2.on {
	background: rgb(255, 255, 255); left: 0px; height: 36px; color: rgb(252, 83, 0); line-height: 36px; font-size: 14px; border-top-color: rgb(252, 83, 0); border-bottom-color: rgb(255, 255, 255); border-top-width: 2px; border-bottom-width: 2px; border-top-style: solid; border-bottom-style: solid;
}
.title1 h2.on a {
	height: 36px; color: rgb(252, 83, 0);
}
.title1 .fr {
	margin: 10px; height: 18px; line-height: 18px; overflow: hidden; display: inline;
}
.title1 .fr .allshops {
	padding-right: 20px; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid; float: left;
}
.title1 .fr .allshops strong {
	margin: 0px 5px; font-size: 14px; font-weight: bold;
}
.title1 .fr .allshops b {
	margin: 0px 5px; color: rgb(252, 83, 0);
}
.title1 .fr .more {
	float: left; display: inline-block; _margin-top: 1px;
}
.title1 .fr .more a {
	padding: 0px 20px; color: rgb(152, 152, 152); font-family: "宋体"; display: inline-block; position: relative;
}
.title1 .fr .more a:hover {
	color: rgb(252, 83, 0);
}
.title1 .fr .more i {
	background: url("icons.__1431674115__.png") no-repeat -95px -60px; top: 1px; width: 20px; height: 15px; right: 0px; display: inline-block; position: absolute;
}
#services {
	background: url("services_bg.__1414114670__.png") no-repeat 0px 20px; padding: 20px 0px; margin-bottom: 20px; border-top-color: rgb(237, 237, 237); border-bottom-color: rgb(237, 237, 237); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; position: relative; z-index: 4;
}
#services dl {
	width: 117px; line-height: 24px; padding-left: 70px; float: left; display: inline;
}
#services dl dt {
	font: bold 16px/1.5em "Microsoft YaHei"; font-size-adjust: none; font-stretch: normal;
}
#services dl dd a {
	display: block;
}
#services .d1 {
	width: 195px; padding-left: 60px;
}
#services .d1 .tel {
	padding: 4px 0px; color: rgb(252, 83, 0); font-size: 24px; font-weight: bold;
}
#services .d1 .time {
	font-size: 14px; font-weight: bold;
}
#footer {
	padding: 20px 0px 0px; width: 100%; height: 180px; position: relative; z-index: 4; background-color: rgb(49, 49, 49);
}
#footer .footer-hd {
	width: 675px; color: rgb(156, 156, 156); float: left;
}
#footer .footer-hd p {
	padding: 10px 0px 0px 10px; line-height: 20px;
}
#footer .footer-hd a {
	padding: 0px 6px; color: rgb(156, 156, 156);
}
#footer .footer-hd a:hover {
	color: rgb(252, 83, 0);
}
#footer .footer-hd a.s {
	padding: 0px 5px 0px 0px;
}
#footer .footer-hd p strong {
	color: rgb(252, 83, 0); font-weight: bold;
}
#footer .footer-hd p img {
	border: 0px currentColor; width: auto; height: 34px;
}
#footer .footer-hd .p1 {
	padding: 4px 0px 10px 4px; line-height: 20px; border-bottom-color: rgb(64, 64, 64); border-bottom-width: 1px; border-bottom-style: solid;
}
#footer .footer-hd .p1 h2 {
	display: inline;
}
#footer .footer-hd .p1 a {
	color: rgb(255, 255, 255); font-size: 14px;
}
#footer .footer-hd .p1 a:hover {
	color: rgb(252, 83, 0);
}
#footer .footer-qr {
	width: 215px; color: rgb(156, 156, 156); margin-left: 10px; float: left;
}
#footer .footer-qr a {
	float: left;
}
#footer .footer-qr .info {
	padding: 15px 0px 0px 5px; width: 105px; float: left;
}
#footer .footer-qr .info strong {
	color: rgb(255, 255, 255); font-size: 14px; font-weight: bold; display: block;
}
#footer .footer-qr .info a {
	background: rgb(77, 77, 77); border: 1px solid rgb(94, 94, 94); width: 98px; height: 24px; text-align: center; color: rgb(255, 255, 255); font-family: "宋体"; font-weight: bold; display: block; cursor: pointer;
}
#footer .footer-qr .info a:hover {
	text-decoration: none;
}
#footer .weixin {
	width: 280px;
}
#footer .weixin a {
	cursor: default;
}
#footer .weixin .info {
	width: 170px;
}
#links {
	margin-bottom: 20px; position: relative; z-index: 4;
}
#links .content {
	padding: 20px 0px 0px;
}
#links .content .detail {
	overflow: hidden; display: none; _zoom: 1;
}
#links .content ul li {
	margin: 5px 0px; padding: 0px 10px; line-height: 14px; font-family: "Microsoft YaHei"; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid; float: left;
}
#links .content ul li a {
	outline: 0px; white-space: nowrap;
}
#links .content ul li.letter {
	padding: 0px 5px 5px 10px; border: 0px currentColor; width: 1175px;
}
#links .content ul li.letter a {
	background: rgb(235, 235, 235); margin: 0px 10px 0px 0px; padding: 0px; border: 0px currentColor; width: 24px; height: 24px; text-align: center; line-height: 24px; float: left; display: inline-block;
}
#links .content ul li.letter a:hover {
	text-decoration: none;
}
#links .content ul li.letter a.current {
	background: rgb(252, 83, 0); color: rgb(255, 255, 255);
}
#links .content ul li.letter a.more {
	background: rgb(252, 83, 0); color: rgb(255, 255, 255);
}
#links .content ul li.letter a.more {
	width: 48px; float: left;
}
#links .content ul li.last {
	border-right-color: currentColor; border-right-width: 0px; border-right-style: none;
}
#links .content .on {
	display: block;
}
#links p.tip {
	color: rgb(153, 153, 153); padding-left: 10px; margin-top: 10px;
}
.over_online {
	width: 60px; right: 10px; bottom: 320px; position: fixed; z-index: 6;
}
.over_online a {
	background: url("icons.__1431674115__.png") no-repeat -260px -690px; width: 60px; height: 60px; display: block;
}
.over_online a:hover {
	background-position: -330px -690px;
}
.popwindows {
	left: 0px; top: 0px; width: 100%; height: 100%; overflow: hidden; display: none; position: absolute; z-index: 100;
}
.popwindows .bg {
	left: 0px; top: 0px; width: 100%; height: 100%; display: block; filter: alpha(opacity=50); position: fixed; z-index: 101; opacity: 0.5; background-color: rgb(0, 0, 0); -moz-opacity: .5; -khtml-opacity: .5;
}
.popwindows .popcontents {
	width: 100%; position: relative; z-index: 102;
}
.right_title_style1 h3 {
	padding: 0px 0px 0px 14px; height: 41px; color: rgb(73, 73, 73); line-height: 41px; font-family: Microsoft YaHei; font-size: 16px; font-weight: bold;
}
.right_title_style1 h3 i {
	background: url("icons.__1431674115__.png") no-repeat -290px -269px; margin: 0px 7px 0px 0px; width: 3px; height: 41px; vertical-align: middle; display: inline-block;
}
.car_list {
	padding: 16px 0px 0px;
}
.car_list li {
	margin: 4px 22px 0px 0px; width: 220px; height: 295px; float: left; display: inline;
}
.car_list li.last {
	margin-right: 0px;
}
.car_list li .pic {
	margin: 0px 0px 9px; width: 220px; height: 167px;
}
.car_list li .pic img {
	width: 220px; height: 167px;
}
.car_list li .pic a {
	width: 220px; height: 167px; display: block; position: relative;
}
.car_list li .pic a i.i-bao-b {
	background: url("baoxiu_png24.__1421223768__.png") no-repeat; left: 5px; top: 5px; width: 46px; height: 52px; display: inline-block; position: absolute;
}
.car_list li h4 {
	margin: 0px 0px 4px; height: 43px; line-height: 20px; overflow: hidden; font-size: 14px; position: relative;
}
.car_list li h4 a {
	color: rgb(47, 48, 49);
}
.car_list li h4 a.online_consul {
	background: rgb(0, 126, 202); top: 21px; width: 65px; height: 22px; text-align: center; right: 5px; color: rgb(255, 255, 255); line-height: 22px; font-family: SimSun; font-size: 12px; font-weight: bold; display: inline-block; position: absolute;
}
.car_list li h4 a:visited {
	color: rgb(128, 0, 128);
}
.car_list li h4 a:hover {
	color: rgb(252, 83, 0);
}
.car_list li h4 a.online_consul:hover {
	color: rgb(255, 255, 255);
}
.car_list li h4 i {
	background: url("icons.__1431674115__.png") no-repeat 0px -90px; left: 5px; top: 2px; width: 16px; height: 16px; display: inline-block; position: relative;
}
.car_list li .price {
	margin: 0px 0px 2px;
}
.car_list li .price .l {
	height: 34px; color: rgb(221, 0, 0); line-height: 34px; overflow: hidden; font-family: Microsoft YaHei; font-size: 14px; float: left; display: inline;
}
.car_list li .price .l strong {
	margin: 0px 3px 0px 0px; font-family: Tahoma; font-size: 34px; font-weight: bold;
}
.car_list li .price .r {
	padding: 11px 0px 0px; float: right; display: inline;
}
.car_list li .price span.down {
	background: url("icons.__1431674115__.png") no-repeat -120px -90px; width: 16px; height: 16px; float: right; display: inline-block; position: relative; cursor: pointer;
}
.car_list li .price span.down i {
	float: none;
}
.car_list li .price span.down span.down_bg {
	background: rgb(224, 226, 224); top: 16px; width: 85px; height: 30px; right: 0px; display: none; position: absolute;
}
.car_list li .price span.down span.down_bg span.b_bg {
	background: rgb(255, 255, 255); margin: 0px 0px 4px; width: 69px; height: 5px; line-height: normal; overflow: hidden; display: block;
}
.car_list li .price i {
	background: url("icons.__1431674115__.png") no-repeat; margin: 0px 5px 0px 0px; width: 16px; height: 16px; float: right; display: inline-block;
}
.car_list li .price i.i-sev {
	background-position: -20px -90px;
}
.car_list li .price i.i-dk {
	background-position: -40px -90px;
}
.car_list li .price i.i-ckb {
	background-position: -160px -90px;
}
.car_list li .price i.i-kc {
	background-position: -80px -90px;
}
.car_list li .price i.i-rz {
	background-position: -100px -90px;
}
.car_list li .price i.i-yjc {
	background-position: -140px -90px;
}
.car_list li .price i.i-free {
	background-position: -60px -90px;
}
.car_list li .price i.i-yan {
	background-position: -180px -90px;
}
.car_list li .price i.i-bao {
	background-position: -200px -90px;
}
.car_list li .other {
	color: rgb(73, 73, 73); clear: both; font-family: "宋体";
}
.car_list li .other label {
	color: rgb(152, 152, 152);
}
.car_list li .other .l {
	float: left; display: inline;
}
.car_list li .other .r {
	float: right; display: inline;
}
.table_style1 {
	font-family: SimSun; font-size: 14px; border-collapse: collapse;
}
.table_style1 td {
	padding: 7px 15px; border: 1px solid rgb(235, 235, 235); line-height: 24px;
}
.table_style1 td.gray {
	background: rgb(251, 251, 251); color: rgb(152, 152, 152);
}
.table_style1 td.gray i {
	background: rgb(252, 83, 0); margin: 0px 10px 0px 0px; top: -1px; width: 15px; height: 15px; text-align: center; color: rgb(255, 255, 255); line-height: 15px; vertical-align: middle; display: inline-block; position: relative;
}
.table_style1 strong.warn {
	color: rgb(221, 2, 1); font-weight: bold;
}
.table_style2 {
	width: 100%; font-family: SimSun; font-size: 14px; border-collapse: collapse;
}
.table_style2 td {
	padding: 0px 15px; border: 1px solid rgb(235, 235, 235); height: 38px; line-height: 24px;
}
.table_style2 td i {
	background: rgb(16, 146, 13); margin: 0px 10px 0px 0px; top: -1px; width: 15px; height: 15px; text-align: center; color: rgb(255, 255, 255); line-height: 15px; vertical-align: middle; display: inline-block; position: relative;
}
.table_style2 td.warm {
	color: rgb(221, 2, 1); font-weight: bold;
}
.table_style2 td.warm i {
	background: rgb(221, 2, 1);
}
#page {
	padding: 15px 0px; text-align: center;
}
/*#page a {
	background: rgb(235, 235, 235); margin: 0px 5px; width: 30px; height: 30px; color: rgb(73, 73, 73); line-height: 30px; font-family: SimSun; font-size: 14px; display: inline-block;
}*/
#page em {
	background: rgb(235, 235, 235); margin: 0px 5px; width: 30px; height: 30px; color: rgb(73, 73, 73); line-height: 30px; font-family: SimSun; font-size: 14px; display: inline-block;
}
#page a.a1 {
	padding: 0px 10px; width: auto;
}
#page em {
	background: rgb(252, 83, 0); color: rgb(255, 255, 255); text-decoration: none;
}
#page a:hover {
	background: rgb(252, 83, 0); color: rgb(255, 255, 255); text-decoration: none;
}
#page .sl {
	margin: 0px 7px; font-size: 20px; _font-size: 12px;
}
#page .mt10 {
	margin-top: 10px;
}
.pop_box {
	background: rgb(255, 255, 255); border: 6px solid rgb(191, 191, 191); position: absolute;
}
.pop_box_title {
	background: rgb(242, 242, 242); padding: 0px 0px 0px 21px; height: 35px; line-height: 35px; font-weight: bold;
}
.pop_box_title a {
	background: url("icons.__1431674115__.png") no-repeat -12px -603px rgb(230, 230, 230); width: 35px; height: 35px; float: right; display: inline-block;
}
.pop_box_content {
	font-family: SimSun; font-size: 14px;
}
.pop_box_content strong.hot {
	color: rgb(252, 83, 0); font-weight: bold;
}
.pop_box_content .input_box .input1 {
	background: rgb(255, 255, 255); padding: 9px 8px 8px; border: 1px solid rgb(237, 237, 237); width: 266px; color: rgb(153, 153, 153); float: left; display: inline;
}
.pop_box_content .input_box .label {
	left: 33px; top: 5px; color: rgb(153, 153, 153); position: absolute;
}
.pop_box_content .input_box i {
	background: url("icons.__1431674115__.png") no-repeat -370px -280px; margin: 11px 0px 0px 5px; width: 14px; height: 14px; float: left; display: inline-block;
}
.pop_box_content .button1 {
	margin: 0px 10px 0px 0px; width: 158px; height: 33px; text-align: center; line-height: 33px; font-size: 14px; font-weight: bold; cursor: pointer;
}
.pop_box_content .button2 {
	margin: 0px 10px 0px 0px; width: 158px; height: 33px; text-align: center; line-height: 33px; font-size: 14px; font-weight: bold; cursor: pointer;
}
.pop_box_content .button1 {
	background: rgb(255, 238, 229); border: 1px solid rgb(255, 215, 196); color: rgb(252, 83, 0);
}
.pop_box_content .button2 {
	background: rgb(242, 242, 242); border: 1px solid rgb(225, 225, 225); color: rgb(73, 73, 73);
}
.pop_box_content .error {
	background: rgb(255, 231, 231); border: 1px solid rgb(226, 142, 142); color: rgb(208, 0, 0); line-height: 24px; font-size: 12px;
}
.pop_box_content .error i {
	background: url("icons.__1431674115__.png") no-repeat -370px -276px; margin: 0px 5px; width: 14px; height: 24px; line-height: 24px; vertical-align: middle; display: inline-block;
}
.pop_box_content .success_tips .icon {
	background: url("icons.__1431674115__.png") no-repeat -70px -600px; width: 34px; height: 34px; float: left; display: inline-block;
}
.pop_box_content .success_tips p {
	margin: 0px 0px 0px 16px; color: rgb(163, 163, 163); float: left; display: inline;
}
.pop_box_content .success_tips p strong {
	margin: 0px 0px 5px; color: rgb(86, 86, 86); font-weight: bold; display: block;
}
.pop_box_content .success_tips p em {
	color: rgb(252, 86, 5); font-style: normal; font-weight: bold;
}
.ui-dialog-close {
	text-indent: -9999px;
}
#main #bread {
	padding: 12px 0px 10px; height: 30px; color: rgb(152, 152, 152); line-height: 30px; font-family: "宋体"; margin-bottom: 0px;
}
#bread a {
	color: rgb(152, 152, 152);
}
#bread .left {
	float: left; display: inline;
}
#bread .right {
	float: right; display: inline;
}
#bread .right li {
	margin: 0px 0px 0px 10px; border: 1px solid rgb(255, 255, 255); height: 28px; float: left; display: inline;
}
#bread .right li.share {
	margin: 0px 0px 0px 5px; border: 1px solid rgb(255, 255, 255); width: 66px; height: 28px; position: relative; z-index: 101; cursor: pointer;
}
#bread .right li.share .down {
	display: none;
}
#bread .right a {
	display: inline-block;
}
#bread .right li.share_on {
	border-width: 1px; border-style: solid; border-color: rgb(240, 240, 240) rgb(240, 240, 240) rgb(255, 255, 255);
}
#bread .right li.share a {
	background: rgb(255, 255, 255); padding: 0px 0px 0px 8px; width: 58px; height: 28px; position: relative; z-index: 101;
}
#bread .right li.share_on .down {
	background: rgb(255, 255, 255); padding: 6px 0px; border: 1px solid rgb(240, 240, 240); top: 27px; width: 107px; right: -1px; display: inline-block; position: absolute; z-index: 100;
}
#bread .right li.share_on .down a {
	background: url("share_icon.__1432523167__.png") no-repeat; margin: 0px 11px; padding: 0px 0px 0px 23px; width: auto; height: 24px; line-height: 24px; display: block;
}
#bread .right li.share_on .down a.s1 {
	background-position: -4px -76px;
}
#bread .right li.share_on .down a.s2 {
	background-position: -4px -116px;
}
#bread .right li.share_on .down a.s3 {
	background-position: -4px -156px;
}
#bread .right li.share_on .down a.s4 {
	background-position: -4px -196px;
}
#bread .right li.share_on .down a.s5 {
	background-position: -4px -236px;
}
#bread .right li.share_on .down a:hover {
	color: rgb(252, 83, 0);
}
#bread .right a i {
	background: url("icons.__1431674115__.png") no-repeat; width: 15px; height: 28px; vertical-align: middle; display: inline-block; cursor: pointer;
}
#bread .right a i.i1 {
	background-position: -190px -14px;
}
#bread .right a i.i2 {
	background-position: -210px -14px; margin: 0px 3px 0px 0px;
}
#bread .right a i.i3 {
	background-position: -230px -14px; margin: 0px 3px 0px 0px;
}
#bread .right li.on i.i1 {
	background-position: -190px -54px;
}
#bread .right li.on i.i2 {
	background-position: -210px -54px; margin: 0px 3px 0px 0px;
}
#bread .right li.share_on i.i3 {
	background-position: -230px -54px; margin: 0px 3px 0px 0px;
}
#bread a:hover {
	text-decoration: none;
}
#bread {
	padding: 11px 0px; height: 30px; line-height: 30px;
}
#bread i {
	height: 30px;
}
.auto-custom {
	background: rgb(255, 255, 255); border: 1px solid rgb(212, 212, 212); visibility: hidden; position: absolute;
}
.auto-custom .auto-custom-item {
	height: 27px; color: rgb(108, 108, 108); line-height: 27px; cursor: pointer;
}
.auto-custom .auto-custom-item a {
	height: 100%; color: rgb(73, 73, 73); padding-left: 10px; text-decoration: none; float: left;
}
.auto-custom .auto-custom-item span {
	margin-right: 10px; float: right;
}
.auto-custom .on {
	color: rgb(252, 83, 0); background-color: rgb(241, 241, 241);
}
.auto-custom .on a {
	color: rgb(252, 83, 0);
}
.lazy_load {
	background: url("loading.__1394092426__.gif") no-repeat center rgb(246, 246, 246);
}
.lazy_load img {
	visibility: hidden;
}
.banner .close {
	background: url("icons.__1431674115__.png") no-repeat -20px -610px rgb(255, 255, 255); border: 1px solid rgb(175, 175, 175); top: 0px; width: 20px; height: 20px; right: 0px; line-height: 20px; text-indent: -82982px; position: absolute; cursor: pointer;
}
.mt10 {
	margin-top: 10px;
}
.pop_feedback {
	width: 550px; z-index: 101;
}
.pop_feedback .pop_box_content .form_item {
	padding: 0px 0px 10px 88px; color: rgb(153, 153, 153); font-size: 14px; zoom: 1;
}
.pop_feedback .form_item label {
	width: 80px; text-align: right; line-height: 32px; margin-left: -90px; float: left; display: inline;
}
.pop_feedback .form_item label .xing {
	color: rgb(222, 0, 0);
}
.pop_feedback .form_item .select_type span {
	height: 32px; color: rgb(73, 73, 73); line-height: 32px; margin-right: 30px; display: inline-block; cursor: pointer; zoom: 1; _margin: 7px 30px 7px 0;
}
.pop_feedback .form_item .select_type span i {
	background: url("icons.__1431674115__.png") no-repeat -380px -778px; margin: 0px 5px 0px 0px; width: 14px; height: 18px; line-height: 18px; vertical-align: middle; display: inline-block;
}
.pop_feedback .form_item .select_type .on {
	color: rgb(252, 83, 0); font-weight: 700;
}
.pop_feedback .form_item .select_type .on i {
	background-position: -420px -778px;
}
.pop_feedback .form_item .textarea1 {
	padding: 5px 10px; border: 1px solid rgb(235, 235, 235); width: 420px; height: 130px; color: rgb(153, 153, 153); line-height: 24px;
}
.pop_feedback .form_item .error_text {
	color: rgb(252, 83, 0); line-height: 24px; margin-top: 10px;
}
.pop_feedback .form_item .error_text i {
	background: url("icons.__1431674115__.png") no-repeat -370px -278px; width: 14px; height: 20px; line-height: 20px; margin-right: 10px; vertical-align: middle; display: inline-block;
}
.pop_feedback .form_item input {
	padding: 5px 10px; outline: 0px; border: 1px solid rgb(235, 235, 235); height: 22px; color: rgb(153, 153, 153); line-height: 22px; vertical-align: middle;
}
.pop_feedback .form_item .input1 {
	width: 420px;
}
.pop_feedback .form_item .input2 {
	width: 140px; margin-right: 10px;
}
.pop_feedback .form_item img {
	width: 56px; height: 34px; vertical-align: middle; display: inline-block; cursor: pointer;
}
.pop_feedback .form_item .border-red {
	border: 1px solid rgb(255, 0, 0);
}
.pop_feedback .form_item .btn_box {
	margin-bottom: 10px;
}
.pop_feedback .form_item p strong {
	font-weight: 700;
}
.pop_feedback .success_tips {
	margin: 0px 0px 0px 74px; padding: 110px 0px 120px;
}
.i-gold {
	background: url("icons.__1431674115__.png") no-repeat -580px -780px; margin: 0px 0px 0px 4px; width: 15px; height: 16px; vertical-align: text-bottom; display: inline-block;
}
.i-silver {
	background: url("icons.__1431674115__.png") no-repeat -660px -780px; margin: 0px 0px 0px 4px; width: 15px; height: 16px; vertical-align: text-bottom; display: inline-block;
}
#top_banner {
	padding: 5px 0px 0px; width: 1190px; height: 96px; position: relative;
}
#top_banner .close {
	background: url("icons.__1431674115__.png") no-repeat -238px -868px; border: 1px solid rgb(231, 231, 231); top: 5px; width: 17px; height: 17px; right: 0px; display: inline-block; position: absolute;
}
.badge {
	background: rgb(243, 81, 0); padding: 0px 5px 0px 4px; height: 16px; color: rgb(255, 255, 255); line-height: 16px; font-family: "SimSun"; font-size: 12px; font-weight: normal; margin-left: 5px; vertical-align: middle; display: inline-block;
}
.badge-orange.badge {
	background: rgb(56, 122, 199);
}
.mr10 {
	margin-right: 10px;
}
.pop_box_content .btn_group .btn {
	background: rgb(242, 242, 242); padding: 0px 5px; border: 1px solid rgb(225, 225, 225); width: 139px; height: 35px; text-align: center; line-height: 30px; font-family: "Microsoft Yahei"; font-size: 14px; font-weight: bold; cursor: pointer;
}
.pop_box_content .btn_group .btn-gray:hover {
	background: rgb(255, 238, 229); border: 1px solid rgb(255, 211, 190); color: rgb(252, 83, 0);
}
.pop_box_content .btn_group .btn_orange {
	background: rgb(252, 86, 5); border: 1px solid rgb(222, 73, 0); color: rgb(255, 255, 255);
}
.pop_box_content .btn_group .btn_orange:hover {
	background: rgb(255, 110, 39); border: 1px solid rgb(255, 92, 12); color: rgb(255, 255, 255);
}
#city_change_pop {
	width: 335px; z-index: 102;
}
#city_change_pop .pop_box_content .btn_group {
	text-align: center; margin-bottom: 13px;
}
#city_change_pop .pop_box_content .text {
	padding: 35px 33px 25px; font-family: "Microsoft Yahei";
}
#banner .slider2 ul {
	width: 100%; height: 450px; overflow: hidden; position: relative;
}
#banner .slider2 ul li {
	margin: 0px 0px 0px -1440px; left: 50%; top: 0px; position: absolute;
}
#banner .slider2 ul li img {
	width: 2880px;
}
#footer .footer-hd .paper {
	padding: 0px;
}
