#main {
	margin-top: 0px;
}
#main #detail_main {
	width: 1190px;
}
#detail_photo {
	width: 480px; float: left; display: inline;
}
#detail_photo .b_pic {
	margin: 0px 0px 2px;
}
#detail_photo .b_pic img {
	margin: 0px auto; width: 480px; height: 360px; display: block;
}
#detail_photo .pic_tab .left_arrow {
	width: 34px; height: 122px; text-align: center; float: left; display: inline;
}
#detail_photo .pic_tab .right_arrow {
	width: 34px; height: 122px; text-align: center; float: left; display: inline;
}
#detail_photo .pic_tab .right_arrow {
	float: right;
}
#detail_photo .pic_tab .left_arrow a {
	background: rgb(216, 216, 216); width: 34px; height: 122px; display: block;
}
#detail_photo .pic_tab .right_arrow a {
	background: rgb(216, 216, 216); width: 34px; height: 122px; display: block;
}
#detail_photo .pic_tab .left_arrow a i {
	background: url("icons.__1431674115__.png") no-repeat -310px -40px; margin: 47px 0px 0px; width: 14px; height: 28px; display: inline-block;
}
#detail_photo .pic_tab .right_arrow a i {
	background: url("icons.__1431674115__.png") no-repeat -310px -40px; margin: 47px 0px 0px; width: 14px; height: 28px; display: inline-block;
}
#detail_photo .pic_tab .right_arrow a i {
	background-position: -340px -40px;
}
#detail_photo .pic_tab .right_arrow a.have {
	background: rgb(50, 50, 50);
}
#detail_photo .pic_tab .left_arrow a:hover {
	background: rgb(252, 83, 0);
}
#detail_photo .pic_tab .right_arrow a:hover {
	background: rgb(252, 83, 0);
}
#detail_photo .pic_tab .scroll {
	padding: 0px 0px 0px 2px; width: 410px; float: left; display: inline;
}
#detail_photo .pic_tab li {
	margin: 0px 2px 2px 0px; width: 80px; height: 60px; float: left; display: inline; position: relative; cursor: pointer;
}
#detail_photo .pic_tab li .bg {
	background: rgb(0, 0, 0); left: 0px; top: 0px; width: 80px; height: 60px; display: block; filter: Alpha(Opacity=30); position: absolute; z-index: 1; opacity: 0.3;
}
#detail_photo .pic_tab li .border {
	border: 2px solid rgb(252, 83, 0); left: 0px; top: 0px; width: 76px; height: 56px; display: block; position: absolute; z-index: 2;
}
#detail_photo .pic_tab li img {
	width: 80px; height: 60px; display: block;
}
#detail_main_info {
	width: 500px; height: 482px; border-top-color: rgb(240, 240, 240); border-bottom-color: rgb(240, 240, 240); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; float: left; display: inline; position: relative; z-index: 7;
}
#detail_main_info h1 {
	margin: 0px 0px 9px; padding: 14px 20px 0px; width: 460px; height: 51px; color: rgb(73, 73, 73); line-height: 25px; overflow: hidden; font-family: Microsoft YaHei; font-size: 18px; font-weight: bold;
}
#detail_main_info h1.middle {
	height: 37px; padding-top: 28px;
}
#detail_main_info .other {
	margin: 0px 0px 132px; padding: 0px 0px 0px 20px; line-height: 19px; font-family: SimSun;
}
#detail_main_info .other .tag {
	width: 262px; float: left; display: inline;
}
#detail_main_info .other .tag em {
	background: rgb(113, 166, 209); margin: 0px 5px 0px 0px; padding: 0px 4px; color: rgb(255, 255, 255); font-style: normal; display: inline-block;
}
#detail_main_info .other .time {
	width: 218px; float: left; display: inline;
}
#detail_main_info .other .time label {
	color: rgb(152, 152, 152);
}
#detail_main_info .price_area {
	background: url("icons.__1431674115__.png") no-repeat 0px -135px; padding: 13px 0px 0px; left: -4px; top: 112px; width: 509px; height: 96px; color: #fff; font-family: SimSun; font-size: 14px; position: absolute; z-index: 11;
}
#detail_main_info .price_area p {
	margin: 0px 0px 0px 17px;
}
#detail_main_info .price_area strong {
	color: rgb(255, 255, 255); font-weight: bold;
}
#detail_main_info .price_area strong.main_price {
	line-height: 46px; padding-right: 1px; padding-left: 1px; font-family: Tahoma; font-size: 43px; display: inline-block;
}
#detail_main_info .price_area .p1 {
	width: 481px; height: 48px; overflow: hidden; margin-bottom: 3px;
}
#detail_main_info .price_area .p1 a.a1 {
	background: rgb(252, 83, 0); margin: 0px 0px 0px 8px; border: 1px solid rgb(255, 250, 168); top: 5px; width: 114px; height: 22px; color: rgb(255, 250, 168); display: inline-block; position: relative; cursor: pointer;
}
#detail_main_info .price_area .p1 a.a1 span {
	width: 93px; height: 22px; text-align: center; line-height: 22px; overflow: hidden; float: left; display: inline-block;
}
#detail_main_info .price_area .p1 a.a1 i {
	background: url("icons.__1431674115__.png") no-repeat -134px -55px rgb(255, 250, 168); width: 21px; height: 22px; float: right; display: inline-block;
}
#detail_main_info .price_area .p1 a.a1:hover {
	text-decoration: none;
}
#detail_main_info .price_area .p1 a.a2 {
	margin: 0px 0px 0px 3px; color: rgb(255, 250, 168); text-decoration: underline;
}
#detail_main_info .price_area .p1 a.a3 {
	background: #fccc00; margin: 0px 6px 0px 2px; border: 1px solid rgb(255, 250, 168); top: 4px; width: 71px; height: 16px; color: rgb(255, 255, 255); display: inline-block; position: relative; cursor: pointer;
}
#detail_main_info .price_area .p1 a.a3 span {
	padding: 2px 0px 0px; width: 53px; height: 14px; text-align: center; line-height: 14px; overflow: hidden; font-size: 12px; float: right; display: inline-block;
}
#detail_main_info .price_area .p1 a.a3 i {
	background: url("icons.__1431674115__.png") no-repeat -717px -38px rgb(255, 250, 168); width: 16px; height: 16px; float: left; display: inline-block;
}
#detail_main_info .price_area .p1 a.a3:hover {
	text-decoration: none;
}
#detail_main_info .price_area .p1 a.a4 {
	background: rgb(252, 83, 0); margin: 0px 6px 0px 2px; border: 1px solid rgb(255, 250, 168); top: 4px; width: 71px; height: 16px; color: rgb(255, 250, 168); display: inline-block; position: relative; cursor: pointer;
}
#detail_main_info .price_area .p1 a.a4 span {
	padding: 2px 0px 0px; width: 53px; height: 14px; text-align: center; line-height: 14px; overflow: hidden; font-size: 12px; float: right; display: inline-block;
}
#detail_main_info .price_area .p1 a.a4 i {
	background: url("icons.__1431674115__.png") no-repeat -757px -38px rgb(255, 250, 168); width: 16px; height: 16px; float: left; display: inline-block;
}
#detail_main_info .price_area .p1 a.a4:hover {
	text-decoration: none;
}
#detail_main_info .price_area .p1 em {
	margin: 0px 5px 0px 0px; color: rgb(255, 255, 255); font-family: Microsoft YaHei; font-size: 16px;
}
#detail_main_info .price_area .one {
	padding-top: 14px;
}
#detail_main_info .tips_shelf {
	background: url("icons.__1431674115__.png") no-repeat 0px -135px; left: -4px; top: 112px; width: 509px; height: 109px; color: rgb(255, 208, 195); font-family: SimSun; font-size: 14px; position: absolute; z-index: 11;
}
#detail_main_info .tips_shelf strong {
	padding: 40px 0px 40px 26px; color: rgb(255, 255, 255); font-family: Microsoft YaHei; font-size: 26px; font-weight: bold; display: inline-block;
}
#detail_main_info .para {
	height: 136px;
}
#detail_main_info .para ul {
	margin: 0px auto; width: 461px;
}
#detail_main_info .para li {
	width: 153px; height: 121px; border-right-color: rgb(240, 240, 240); border-right-width: 1px; border-right-style: solid; float: left; display: inline;
}
#detail_main_info .para li dl {
	text-align: center; color: rgb(152, 152, 152); line-height: 21px; font-family: SimSun; font-size: 14px;
}
#detail_main_info .para li dt {
	height: 69px;
}
#detail_main_info .para li dt span {
	background: url("icons.__1431674115__.png") no-repeat; display: inline-block;
}
#detail_main_info .para li dt span.img1 {
	background-position: -20px -270px; margin: 26px 0px 0px; width: 37px; height: 35px;
}
#detail_main_info .para li dt span.img2 {
	background-position: -100px -270px; margin: 27px 0px 0px; width: 36px; height: 35px;
}
#detail_main_info .para li dt span.img3 {
	background-position: -180px -270px; margin: 26px 0px 0px; width: 33px; height: 38px;
}
#detail_main_info .para li dd strong {
	color: rgb(73, 73, 73); font-size: 16px; font-weight: bold; display: block;
}
#detail_main_info .para li dd strong i {
	background: url("icons.__1431674115__.png") no-repeat -260px -280px; width: 15px; height: 15px; display: inline-block; position: relative; cursor: pointer;
}
#detail_main_info .para li.last {
	border: 0px currentColor;
}
#detail_main_info .para_s {
	height: 97px;
}
#detail_main_info .para_s li {
	height: auto;
}
#detail_main_info .para_s li dt {
	height: 44px;
}
#detail_main_info .para_s li dt span.img1 {
	margin: 6px 0px 0px;
}
#detail_main_info .para_s li dt span.img2 {
	margin: 7px 0px 0px;
}
#detail_main_info .para_s li dt span.img3 {
	margin: 6px 0px 0px;
}
#detail_main_info .you_maybe {
	height: 136px;
}
#detail_main_info .you_maybe dl {
	padding: 7px 0px 0px 22px; line-height: 28px; font-family: SimSun; font-size: 14px;
}
#detail_main_info .you_maybe dt {
	margin: 0px 0px -2px; color: rgb(150, 150, 150);
}
#detail_main_info .you_maybe dd {
	height: 28px;
}
#detail_main_info .you_maybe dd i {
	background: url("icons.__1431674115__.png") no-repeat -340px -532px; margin: 0px 5px 0px 0px; width: 9px; height: 28px; vertical-align: middle; display: inline-block;
}
#detail_main_info .you_maybe dd a {
	color: rgb(73, 73, 73); text-decoration: underline;
}
#detail_main_info .you_maybe dd a em {
	color: rgb(252, 83, 0); font-weight: bold; text-decoration: underline;
}
#detail_main_info .main_tel {
	background: rgb(249, 249, 249); margin: 0px auto; width: 460px; height: 107px; color: rgb(152, 152, 152); clear: both; font-family: SimSun; font-size: 14px;
}
#detail_main_info .main_tel .work_time {
	background: rgb(242, 242, 242); padding: 0px 0px 0px 20px; height: 36px; line-height: 36px;
}
#detail_main_info .main_tel p {
	padding: 9px 0px 0px 18px; width: 442px; height: 53px; position: relative;
}
#detail_main_info .main_tel p em {
	color: rgb(73, 73, 73); font-style: normal;
}
#detail_main_info .main_tel p strong {
	color: rgb(252, 83, 0); line-height: 24px; font-family: tahoma; font-size: 24px; font-weight: bold;
}
#detail_main_info .main_tel p .online {
	background: url("icons.__1431674115__.png") no-repeat -410px -700px; width: 100px; height: 30px; right: 18px; bottom: 2px; display: block; position: absolute;
}
#detail_main_info .main_tel p .order {
	background: url("icons.__1431674115__.png") no-repeat -460px -780px; width: 90px; height: 30px; right: 18px; bottom: 2px; display: block; position: absolute;
}
#detail_main_info .main_tel p .online_consul {
	background: url("online_consul_btn.__1427252912__.gif") no-repeat; width: 90px; height: 30px; right: 18px; bottom: 2px; display: block; position: absolute;
}
#detail_main_info .ensure {
	margin: 0px auto; width: 460px; height: 52px; line-height: 52px; font-family: SimSun; font-size: 14px; position: relative; z-index: 1;
}
#detail_main_info .ensure label {
	margin: 0px 12px 0px 18px; color: rgb(152, 152, 152); float: left; display: inline;
}
#detail_main_info .ensure span {
	margin: 0px 20px 0px 0px; float: left; display: inline;
}
#detail_main_info .ensure i {
	background: url("icons.__1431674115__.png") no-repeat; margin: 17px 8px 0px 0px; width: 16px; height: 16px; float: left; display: inline-block;
}
#detail_main_info .ensure i.i-sev {
	background-position: -20px -90px;
}
#detail_main_info .ensure i.i-ckb {
	background-position: -60px -90px;
}
#detail_main_info .ensure i.i-yan {
	background-position: -180px -90px;
}
#detail_main_info .ensure i.i-bao {
	background-position: -200px -90px; position: relative; z-index: 2;
}
#detail_main_info .ensure i.i-bao-gray {
	background-position: -220px -90px;
}
#detail_main_info .ensure i.i-bao .arrow {
	background: url("icons_gif.__1432523167__.gif") no-repeat -230px -240px; margin: 0px 0px 0px -9px; left: 50%; top: 17px; width: 19px; height: 10px; display: inline-block; position: absolute;
}
#detail_main_info .ensure .tips {
	background: rgb(255, 242, 235); padding: 6px 0px 0px 12px; border: 1px solid rgb(255, 208, 185); left: 0px; top: 43px; width: 446px; height: 20px; color: rgb(73, 73, 73); line-height: normal; position: absolute;
}
#trans_ad {
	background: url("bg_repeat1.__1394092426__.gif") repeat-y left top rgb(251, 251, 251); border-width: 1px; border-style: solid; border-color: rgb(240, 240, 240) rgb(240, 240, 240) rgb(240, 240, 240) rgb(225, 225, 225); width: 208px; height: auto; overflow: hidden; font-family: SimSun; float: left; display: inline;
}
#trans_ad .content {
	padding: 10px 0px 0px;
}
#trans_ad .photo img {
	margin: 0px auto 15px; width: 120px; height: 152px; display: block;
}
#trans_ad .name {
	margin: 0px 0px 9px; text-align: center;
}
#trans_ad .name a {
	font-size: 14px; font-weight: bold;
}
#trans_ad .link {
	margin: 0px 0px 15px; text-align: center;
}
#trans_ad .link a {
	background: rgb(255, 255, 255); margin: 0px 3px; border: 1px solid rgb(233, 233, 233); width: 88px; height: 33px; line-height: 33px; font-weight: bold; display: inline-block;
}
#trans_ad .link a em {
	color: rgb(252, 83, 0); font-weight: bold;
}
#trans_ad .store_add {
	margin: 0px 0px 5px; padding: 0px 0px 0px 19px; width: 175px; color: rgb(73, 73, 73); line-height: 24px;
}
#trans_ad .store_add label {
	color: rgb(172, 176, 180);
}
#trans_ad .route {
	margin: 0px 0px 17px; padding: 0px 0px 0px 19px;
}
#trans_ad .route a {
	height: 18px; color: rgb(252, 83, 0); line-height: 18px; font-weight: bold; display: block;
}
#trans_ad .route a i {
	background: url("icons.__1431674115__.png") no-repeat -100px -60px; margin: 0px 0px 0px 3px; width: 15px; height: 18px; vertical-align: middle; display: inline-block;
}
#trans_ad .his_car a {
	background: rgb(255, 255, 255); margin: 0px auto; border: 1px solid rgb(232, 232, 232); width: 182px; height: 33px; text-align: center; line-height: 33px; font-weight: bold; display: block;
}
#hot_rec {
	background: url("bg_repeat1.__1394092426__.gif") repeat-y left top rgb(251, 251, 251); border-width: 1px; border-style: solid; border-color: rgb(240, 240, 240) rgb(240, 240, 240) rgb(240, 240, 240) rgb(225, 225, 225); width: 208px; height: 482px; overflow: hidden; font-family: SimSun; float: left; display: inline;
}
#hot_rec .title {
	width: 208px; height: 48px; text-align: center; position: relative;
}
#hot_rec .title s {
	margin: 0px 0px 0px -80px; left: 50%; top: 23px; width: 160px; border-top-color: rgb(230, 230, 230); border-top-width: 1px; border-top-style: solid; display: inline-block; position: absolute; z-index: 1;
}
#hot_rec .title h3 {
	background: rgb(251, 251, 251); margin: 0px 0px 0px -30px; left: 50%; top: 12px; width: 60px; height: 20px; text-align: center; color: rgb(152, 152, 152); font-family: SimSun; position: absolute; z-index: 2;
}
#hot_rec .car_list {
	padding: 0px; width: 208px; height: 386px; overflow: hidden; position: relative;
}
#hot_rec .car_list ul {
	left: 24px; top: 0px; position: absolute;
}
#hot_rec .car_list li {
	margin: 0px 0px 16px; padding: 0px; width: 160px; height: 182px; overflow: hidden; border-bottom-color: rgb(233, 233, 233); border-bottom-width: 1px; border-bottom-style: dashed; float: none; display: block;
}
#hot_rec .car_list li.sec {
	border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
#hot_rec .car_list li .pic {
	width: 160px; height: 120px; margin-bottom: -1px; position: relative;
}
#hot_rec .car_list li .pic img {
	width: 160px; height: 120px;
}
#hot_rec .car_list li .pic .pic_title {
	left: 0px; width: 160px; height: 26px; text-align: center; bottom: 0px; color: rgb(255, 255, 255); line-height: 26px; overflow: hidden; display: inline-block; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,endColorstr=#80000000) \\5; position: absolute; background-color: rgba(0, 0, 0, 0.5);
}
#hot_rec .car_list li .pic a:hover {
	text-decoration: none; cursor: pointer;
}
#hot_rec .car_list li .price {
	margin-bottom: 0px;
}
#hot_rec .car_list li .price .l {
	height: 21px; line-height: normal; padding-top: 10px; font-size: 12px; font-weight: bold;
}
#hot_rec .car_list li .price .l strong {
	font-family: Tahoma; font-size: 14px; font-weight: bold; margin-right: 1px;
}
#hot_rec .car_list li .price span.down span.down_bg span.b_bg {
	height: 4px;
}
#hot_rec .car_list li .other {
	padding: 6px 0px 0px; height: 31px; line-height: normal; clear: both;
}
#hot_rec .page {
	margin: 0px auto; width: 160px; height: 47px; border-top-color: rgb(230, 230, 230); border-top-width: 1px; border-top-style: solid; position: relative;
}
#hot_rec .page span {
	top: 17px; width: 28px; height: 14px; display: inline-block; position: absolute;
}
#hot_rec .page span.left {
	left: 9px;
}
#hot_rec .page span.right {
	right: 9px;
}
#hot_rec .page span a {
	background: url("icons.__1431674115__.png") no-repeat; width: 28px; height: 14px; display: block;
}
#hot_rec .page span.left a {
	background-position: -460px -540px;
}
#hot_rec .page span.left a.no {
	background-position: -380px -540px; cursor: default;
}
#hot_rec .page span.right a {
	background-position: -500px -540px;
}
#hot_rec .page span.right a.no {
	background-position: -420px -540px; cursor: default;
}
#hot_rec .page span.left a:hover {
	background-position: -540px -540px;
}
#hot_rec .page span.left a.no:hover {
	background-position: -380px -540px; cursor: default;
}
#hot_rec .page span.right a:hover {
	background-position: -580px -540px;
}
#hot_rec .page span.right a.no:hover {
	background-position: -420px -540px;
}
#hot_rec .page em {
	margin: 0px 0px 0px -25px; left: 50%; top: 17px; width: 50px; height: 14px; text-align: center; line-height: 14px; font-family: Arial; font-size: 14px; font-style: normal; display: inline-block; position: absolute;
}
#detail_below {
	clear: both;
}
#below_left {
	width: 960px; float: left; display: inline;
}
#below_right {
	width: 210px; float: right; display: inline;
}
#trans_car_selling {
	background: rgb(251, 251, 251); margin: 0px 0px 22px; border: 1px solid rgb(235, 235, 235);
}
#trans_car_selling .right_title_style1 {
	border-bottom-color: rgb(235, 235, 235); border-bottom-width: 1px; border-bottom-style: solid;
}
#trans_car_selling li {
	padding: 12px 12px 17px; font-family: SimSun; border-bottom-color: rgb(235, 235, 235); border-bottom-width: 1px; border-bottom-style: solid;
}
#trans_car_selling li .name {
	margin: 0px 0px 1px; padding: 0px 0px 0px 4px; line-height: 22px; font-size: 14px; font-weight: bold;
}
#trans_car_selling li .name a {
	line-height: 22px; display: inline-block;
}
#trans_car_selling li .name .i-bao {
	background: url("icons.__1431674115__.png") no-repeat -200px -90px; margin: 0px 0px 0px 7px; width: 16px; height: 22px; vertical-align: middle; display: inline-block; position: relative; z-index: 100; _background-position: -200px -88px;
}
#trans_car_selling li .name .i-bao div {
	background: url("details-tip1.__1414770701__.png") no-repeat; left: -445px; top: -236px; width: 439px; height: 245px; position: absolute; z-index: 100;
}
#trans_car_selling li .name .i-bao div b {
	margin: 170px 0px 0px 142px; width: 108px; height: 46px; display: inline-block; cursor: pointer;
}
#trans_car_selling li .name span {
	margin: 0px 9px 0px 0px; color: rgb(152, 152, 152); font-size: 12px; font-weight: normal; float: right; display: inline;
}
#trans_car_selling li .name span em {
	color: rgb(73, 73, 73); font-weight: bold;
}
#trans_car_selling li p {
	margin: 0px 0px 7px; padding: 0px 0px 0px 4px; color: rgb(152, 152, 152); line-height: 22px;
}
#trans_car_selling li p strong {
	color: rgb(252, 83, 0); font-family: Tahoma; font-weight: bold;
}
#trans_car_selling .num {
	background: rgb(255, 255, 255); padding: 0px 0px 0px 9px; border: 1px solid rgb(232, 232, 232); height: 33px; line-height: 33px;
}
#trans_car_selling .num label {
	color: rgb(152, 152, 152);
}
#trans_car_selling .num a {
	background: rgb(242, 242, 242); width: 67px; text-align: center; border-left-color: rgb(222, 222, 222); border-left-width: 1px; border-left-style: solid; float: right; display: inline-block;
}
#trans_car_selling .more a {
	background: rgb(251, 251, 251); height: 47px; text-align: center; color: rgb(152, 152, 152); line-height: 47px; font-family: SimSun; display: block;
}
#trans_car_selling .more a i {
	background: url("icons.__1431674115__.png") no-repeat -140px -6px; margin: 0px 0px 0px 6px; width: 15px; height: 47px; vertical-align: middle; display: inline-block;
}
#trans_car_selling .more a:hover {
	color: rgb(252, 83, 0);
}
#below_left .title1 a {
	width: 138px; text-align: center; color: rgb(73, 73, 73); padding-right: 0px; padding-left: 0px; font-family: Microsoft YaHei; font-size: 16px;
}
#below_left .title1 .on a {
	color: rgb(252, 83, 0);
}
#below_left .title1 a em {
	color: rgb(252, 83, 0); font-style: normal; font-weight: bold;
}
#below_left .sub_title h4 {
	padding: 0px 0px 0px 10px; height: 55px; color: rgb(73, 73, 73); line-height: 55px; font-family: SimSun; font-size: 14px; font-weight: bold;
}
#below_left .sub_title h4 i {
	background: url("icons.__1431674115__.png") no-repeat -290px -263px; margin: 0px 7px 0px 0px; width: 3px; height: 55px; vertical-align: middle; display: inline-block;
}
#below_left .sub_title h4 em {
	color: rgb(152, 152, 152); font-style: normal;
}
#below_left .sub_content {
	border: 1px solid rgb(235, 235, 235);
}
#below_left .basic_info .sub_content {
	padding: 8px 0px 24px;
}
#below_left .basic_info .font_para {
	margin: 0px 0px 16px;
}
#below_left .basic_info .font_para li {
	padding: 0px 19px; width: 201px; height: 38px; line-height: 38px; font-family: SimSun; font-size: 14px; float: left; display: inline;
}
#below_left .basic_info .font_para li label {
	color: rgb(152, 152, 152);
}
#below_left .basic_info .font_para .feature {
	width: 918px;
}
#below_left .basic_info .font_para .feature a {
	padding: 3px 5px; color: rgb(152, 152, 152); margin-right: 10px; background-color: rgb(242, 242, 242);
}
#below_left .basic_info .font_para .feature a:hover {
	background-color: rgb(218, 218, 218);
}
#below_left .basic_info .pic_para {
	clear: both;
}
#below_left .basic_info .third_title {
	margin: 0px 19px -12px; height: 21px; line-height: 21px; border-bottom-color: rgb(235, 235, 235); border-bottom-width: 1px; border-bottom-style: solid;
}
#below_left .basic_info .third_title span {
	background: rgb(235, 235, 235); width: 62px; text-align: center; font-family: SimSun; font-weight: bold; display: inline-block;
}
#below_left .basic_info .icon_gp li {
	margin: 34px 0px 0px; width: 94px; height: 63px; text-align: center; line-height: 14px; font-family: SimSun; font-size: 14px; border-right-color: rgb(235, 235, 235); border-right-width: 1px; border-right-style: solid; float: left; display: inline;
}
#below_left .basic_info .icon_gp li.last {
	border: 0px currentColor;
}
#below_left .basic_info .icon_gp li i {
	background: url("icons.__1431674115__.png") no-repeat; margin: 2px auto 7px; width: 70px; height: 40px; display: block;
}
#below_left .basic_info .icon_gp li i.i1 {
	background-position: 0px -350px;
}
#below_left .basic_info .icon_gp li i.i2 {
	background-position: -80px -350px;
}
#below_left .basic_info .icon_gp li i.i3 {
	background-position: -160px -350px;
}
#below_left .basic_info .icon_gp li i.i4 {
	background-position: -240px -350px;
}
#below_left .basic_info .icon_gp li i.i5 {
	background-position: -320px -350px;
}
#below_left .basic_info .icon_gp li i.i6 {
	background-position: -400px -350px;
}
#below_left .basic_info .icon_gp li i.i7 {
	background-position: -480px -350px;
}
#below_left .basic_info .icon_gp li i.i8 {
	background-position: -560px -350px;
}
#below_left .basic_info .icon_gp li i.i9 {
	background-position: -640px -350px;
}
#below_left .basic_info .icon_gp li i.i10 {
	background-position: -720px -350px;
}
#below_left .basic_info .icon_gp li i.i11 {
	background-position: 0px -400px;
}
#below_left .basic_info .icon_gp li i.i12 {
	background-position: -80px -400px;
}
#below_left .basic_info .icon_gp li i.i13 {
	background-position: -160px -400px;
}
#below_left .basic_info .icon_gp li i.i14 {
	background-position: -240px -400px;
}
#below_left .basic_info .icon_gp li i.i15 {
	background-position: -320px -400px;
}
#below_left .basic_info .icon_gp li i.i16 {
	background-position: -400px -400px;
}
#below_left .basic_info .icon_gp li i.i17 {
	background-position: -480px -400px;
}
#below_left .basic_info .icon_gp li i.i18 {
	background-position: -560px -400px;
}
#below_left .basic_info .icon_gp li i.i19 {
	background-position: -640px -400px;
}
#below_left .basic_info .icon_gp li i.i20 {
	background-position: -720px -400px;
}
#below_left .basic_info .icon_gp li i.i21 {
	background-position: 0px -450px;
}
#below_left .basic_info .icon_gp li i.i22 {
	background-position: -80px -450px;
}
#below_left .basic_info .icon_gp li i.i23 {
	background-position: -160px -450px;
}
#below_left .basic_info .icon_gp li i.i24 {
	background-position: -240px -450px;
}
#below_left .basic_info .icon_gp li i.i25 {
	background-position: -320px -450px;
}
#below_left .basic_info .icon_gp li i.i26 {
	background-position: -400px -450px;
}
#below_left .basic_info .icon_gp li i.i27 {
	background-position: -480px -450px;
}
#below_left .basic_info .icon_gp li i.i28 {
	background-position: -560px -450px;
}
#below_left .basic_info .icon_gp li i.i29 {
	background-position: -640px -450px;
}
#below_left .gua_service {
	font-family: SimSun; font-size: 14px;
}
#below_left .gua_service .third_title {
	background: rgb(65, 147, 220); height: 40px; text-align: center; color: rgb(255, 255, 255); line-height: 40px; font-size: 16px; font-weight: bold;
}
#below_left .gua_service .third_content {
	border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(235, 235, 235) rgb(235, 235, 235);
}
#below_left .gua_service dl {
	margin: 0px 18px; line-height: 36px; clear: both; border-bottom-color: rgb(235, 235, 235); border-bottom-width: 1px; border-bottom-style: solid;
}
#below_left .gua_service dl.last {
	border: 0px currentColor;
}
#below_left .gua_service dt {
	padding: 22px 0px 22px 20px; margin-right: 8px; float: left; display: inline;
}
#below_left .gua_service dt i {
	vertical-align: middle;
}
#below_left .gua_service i {
	margin: 0px 18px 0px 0px;
}
#below_left .gua_service i.i-7day {
	background: url("icons.__1431674115__.png") no-repeat -100px -700px; width: 36px; height: 36px; display: inline-block;
}
#below_left .gua_service i.i-free {
	background: url("icons.__1431674115__.png") no-repeat -150px -700px; width: 36px; height: 36px; display: inline-block;
}
#below_left .gua_service i.i-install {
	background: url("icons.__1431674115__.png") no-repeat -200px -700px; width: 36px; height: 36px; display: inline-block;
}
#below_left .gua_service i.i-yan {
	background: url("icons.__1431674115__.png") no-repeat -480px -980px; width: 36px; height: 36px; display: inline-block;
}
#below_left .gua_service i.i-bao {
	background: url("icons.__1431674115__.png") no-repeat -530px -980px; width: 36px; height: 36px; display: inline-block;
}
#below_left .gua_service dt strong {
	font-weight: bold;
}
#below_left .gua_service dd {
	padding: 22px 0px; float: left; display: inline;
}
#below_left .gua_service dd a.more {
	color: rgb(65, 147, 220); text-decoration: underline;
}
#below_left .gua_service dd a.more:hover {
	color: rgb(252, 83, 0); text-decoration: none;
}
#below_left .gua_service dd strong.hot {
	color: rgb(252, 83, 0); font-weight: bold;
}
#below_left .car_info {
	clear: both;
}
#below_left .car_info .sub_content {
	padding: 8px 0px;
}
#below_left .car_info .font_para li {
	padding: 0px 0px 0px 19px; width: 204px; height: 38px; line-height: 38px; font-family: SimSun; font-size: 14px; float: left; display: inline; position: relative;
}
#below_left .car_info .font_para li.li1 {
	width: 269px;
}
#below_left .car_info .font_para li label {
	color: rgb(152, 152, 152);
}
#below_left .car_info .font_para li strong {
	color: rgb(221, 2, 1); font-weight: bold;
}
#below_left .car_info .font_para li a {
	background: rgb(252, 83, 0); padding: 0px 6px; left: 187px; top: 8px; height: 21px; color: rgb(255, 255, 255); line-height: 21px; font-size: 12px; display: inline-block; position: absolute;
}
#below_left .con_rec {
	clear: both;
}
#below_left .con_rec .sub_content {
	line-height: 38px; font-family: SimSun; font-size: 14px;
}
#below_left .con_rec .sub_content p {
	padding: 7px 20px;
}
#below_left .con_rec .sub_content .ps {
	background: rgb(251, 251, 251); padding: 6px 20px; height: 40px; line-height: 40px; border-top-color: rgb(235, 235, 235); border-top-width: 1px; border-top-style: solid;
}
#below_left .con_rec .sub_content .ps i {
	background: url("icons.__1431674115__.png") no-repeat -100px -49px; margin: 0px 6px 0px 0px; width: 15px; height: 40px; line-height: 40px; vertical-align: middle; display: inline-block;
}
#below_left .con_rec .sub_content .ps strong {
	color: rgb(252, 83, 0); font-weight: bold;
}
#below_left .owner_des {
	clear: both;
}
#below_left .owner_des .sub_content {
	padding: 7px 20px; line-height: 38px; font-family: SimSun; font-size: 14px;
}
#below_left .car_photo .sub_title {
	margin: 0px 0px -10px;
}
#below_left .car_photo li {
	margin: 10px 0px 0px; width: 900px; overflow: hidden; min-height: 80px;
}
#below_left .car_photo li img {
	width: 900px; display: block;
}
.same_car {
	clear: both; margin-bottom: 14px;
}
.same_car .title1 .on a {
	text-align: center; color: rgb(73, 73, 73); font-family: Microsoft YaHei; font-size: 16px;
}
.same_car .title1 .on a em {
	margin: 0px 3px; color: rgb(252, 83, 0); font-style: normal; font-weight: bold;
}
.same_car .title1 .more a {
	color: rgb(152, 152, 152); font-family: SimSun; margin-right: 7px;
}
#below_left .complex_detect .sub_content {
	padding: 17px 0px 22px;
}
#below_left .complex_detect .pic {
	margin: 0px 0px 0px 111px; float: left; display: inline;
}
#below_left .complex_detect .pic img {
	width: 273px;
}
#below_left .complex_detect .font {
	margin: 0px 0px 0px 146px; padding: 15px 0px 0px; width: 360px; line-height: 30px; font-family: SimSun; font-size: 14px; float: left; display: inline;
}
#below_left .complex_detect dl.d1 {
	margin: 0px 0px 25px;
}
#below_left .complex_detect dt {
	margin: 0px 0px 4px; font-weight: bold;
}
#below_left .complex_detect dd i {
	background: url("icons.__1431674115__.png") no-repeat; margin: 0px 9px 0px 0px; width: 19px; height: 30px; vertical-align: middle; display: inline-block;
}
#below_left .complex_detect dd i.i1 {
	background-position: -20px -534px;
}
#below_left .complex_detect dd i.i2 {
	background-position: -60px -534px;
}
#below_left .complex_detect dd i.i3 {
	background-position: -100px -534px;
}
#below_left .complex_detect dd i.i4 {
	background-position: -140px -534px;
}
#below_left .complex_detect dd i.i5 {
	background-position: -178px -534px;
}
#below_left .complex_detect dd i.i6 {
	background-position: -220px -534px;
}
#below_left .complex_detect dd i.i7 {
	background-position: -260px -536px;
}
#below_left .complex_detect .sub_title {
	clear: both;
}
#below_left .acc_rec .sub_title {
	clear: both;
}
#below_left .acc_rec .sub_content {
	padding: 21px 0px 20px;
}
#below_left .acc_rec .pic {
	margin: 0px 0px 0px 32px; padding: 10px 0px; float: left; display: inline;
}
#below_left .acc_rec .pic img {
	width: 456px;
}
#below_left .acc_rec .font {
	margin: 0px 0px 0px 63px; padding: 139px 0px 0px; width: 360px; line-height: 30px; font-family: SimSun; font-size: 14px; float: left; display: inline;
}
#below_left .acc_rec .font dt {
	font-weight: bold;
}
#below_left .acc_rec .font dd i {
	background: url("icons.__1431674115__.png") no-repeat; margin: 0px 12px 0px 0px; width: 14px; height: 30px; vertical-align: middle; display: inline-block;
}
#below_left .acc_rec .font dd i.i1 {
	background-position: -340px -274px;
}
#below_left .acc_rec .font dd i.i2 {
	background-position: -370px -274px;
}
#below_left .detect_result .sub_content {
	padding: 11px 20px 4px; width: 918px; height: 251px; line-height: 28px; font-family: SimSun; font-size: 14px; position: relative;
}
#below_left .detect_result .sub_content dl {
	margin: 0px 0px 7px;
}
#below_left .detect_result .sub_content dt {
	font-weight: bold;
}
#below_left .detect_result .sub_content .seal {
	background: url("icons.__1431674115__.png") no-repeat -570px -100px; top: 74px; width: 177px; height: 177px; right: 73px; position: absolute;
}
#below_left .look_car_route .sub_content {
	border: 0px currentColor; font-family: SimSun;
}
#below_left .look_car_route .sub_content a {
	font-family: SimSun;
}
#below_left .look_car_route .pic {
	width: 511px; height: 300px; float: left; display: inline;
}
#below_left .look_car_route .font {
	margin: 0px 0px 0px 24px; width: 425px; float: left; display: inline;
}
#below_left .look_car_route .add {
	padding: 10px 0px; line-height: 24px; font-size: 14px;
}
#below_left .look_car_route .add h5 {
	font-size: 14px; font-weight: bold;
}
#below_left .look_car_route .add h5 a {
	color: rgb(73, 73, 73);
}
#below_left .look_car_route .add label {
	color: rgb(163, 163, 163);
}
#below_left .look_car_route .add strong {
	color: rgb(252, 83, 0); font-weight: bold;
}
#below_left .look_car_route .find h6 {
	background: rgb(245, 245, 245); margin: 0px 0px 14px; padding: 2px 0px 0px 1px; height: 34px; line-height: 34px; font-size: 14px; font-weight: bold;
}
#below_left .look_car_route .find h6 a {
	margin: 0px 1px 0px 0px; padding: 0px 16px; height: 34px; color: rgb(73, 73, 73); line-height: 34px; font-weight: normal; display: inline-block;
}
#below_left .look_car_route .find h6 .current {
	background: rgb(255, 255, 255); font-weight: bold; text-decoration: none;
}
#below_left .look_car_route .find .enter .input_box {
	background: rgb(255, 255, 255); margin: 0px 0px 15px; padding: 5px 0px 4px; border: 1px solid rgb(222, 222, 222); height: 24px; color: rgb(152, 152, 152); clear: both;
}
#below_left .look_car_route .find .enter .input_box label {
	padding: 2px 2px 2px 15px; line-height: 18px; font-size: 14px; float: left;
}
#below_left .look_car_route .find .enter .input_box input {
	background: rgb(255, 255, 255); padding: 3px; border: 0px currentColor; width: 355px; color: rgb(73, 73, 73); line-height: 18px; font-size: 14px; float: left;
}
#below_left .look_car_route .find .btn button {
	background: rgb(252, 83, 0); border: 0px currentColor; width: 104px; height: 35px; text-align: center; color: rgb(255, 255, 255); line-height: 35px; font-size: 14px; font-weight: bold; cursor: pointer;
}
#below_left .eva_record .sub_content {
	border: 0px currentColor;
}
#below_left .eva_record .link_title .a {
	background: rgb(251, 251, 251); margin: 0px -1px 0px 0px; padding: 20px 0px 0px; border: 1px solid rgb(235, 235, 235); width: 478px; height: 78px; font-family: SimSun; float: left; display: inline; cursor: pointer;
}
#below_left .eva_record .link_title .a_current {
	background: rgb(255, 255, 255); padding: 18px 0px 0px; border-top-color: rgb(252, 83, 0); border-bottom-color: rgb(255, 255, 255); border-top-width: 3px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; cursor: auto;
}
#below_left .eva_record .below {
	background: rgb(255, 255, 255); border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(235, 235, 235) rgb(235, 235, 235); width: 957px; position: relative;
}
#below_left .eva_record .link_title .a .pic {
	margin: 0px 0px 0px 20px; float: left; display: inline;
}
#below_left .eva_record .link_title .a .pic img {
	width: 50px; height: 60px; display: block;
}
#below_left .eva_record .link_title .a .store_pic {
	width: 80px; float: left; display: inline;
}
#below_left .eva_record .link_title .a .store_pic img {
	width: 80px; height: 60px; display: block;
}
#below_left .eva_record .link_title .a .font {
	margin: 0px 0px 0px 10px; width: 305px; line-height: normal; float: left; display: inline;
}
#below_left .eva_record .link_title .a .font .s_title {
	margin: 0px 0px 7px; color: rgb(152, 152, 152);
}
#below_left .eva_record .link_title .a .font .name {
	margin: 0px 0px 7px;
}
#below_left .eva_record .link_title .a .font .name a {
	color: rgb(73, 73, 73); font-size: 14px; font-weight: bold;
}
#below_left .eva_record .link_title .a .font .eva {
	height: 18px; color: rgb(152, 152, 152); line-height: 18px; font-size: 14px;
}
#below_left .eva_record .link_title .a .font .eva em {
	color: rgb(73, 73, 73); font-style: normal; font-weight: bold;
}
#below_left .eva_record .link_title .a .font .eva span {
	width: 101px; float: left;
}
#below_left .eva_record .link_title .a_current .font .eva span {
	cursor: pointer;
}
#below_left .eva_record .link_title .a .font .eva span i {
	display: none;
}
#below_left .eva_record .link_title .a_current .font .eva span i {
	background: url("icons.__1431674115__.png") no-repeat -450px -280px; margin: 0px 5px 0px 0px; width: 14px; height: 18px; line-height: 18px; vertical-align: middle; display: inline-block;
}
#below_left .eva_record .link_title .a_current .font .eva span.current {
	color: rgb(252, 83, 0);
}
#below_left .eva_record .link_title .a_current .font .eva span.current em {
	color: rgb(252, 83, 0);
}
#below_left .eva_record .link_title .a_current .font .eva span.current i {
	background-position: -420px -280px;
}
#below_left .eva_record .link_title .a .btn {
	padding: 11px 0px 0px; float: left; display: inline;
}
#below_left .eva_record .link_title .a .btn a {
	background: rgb(252, 83, 0); width: 80px; height: 35px; text-align: center; color: rgb(255, 255, 255); line-height: 35px; font-size: 14px; font-weight: bold; display: block;
}
#below_left .eva_record .eva_list li {
	margin: 0px 20px; padding: 9px 0px; clear: both; font-family: SimSun; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: dashed;
}
#below_left .eva_record .eva_list li .tel {
	width: 92px; height: 55px; text-align: center; color: rgb(152, 152, 152); line-height: normal; border-right-color: rgb(224, 224, 224); border-right-width: 1px; border-right-style: solid; float: left; display: inline; position: relative;
}
#below_left .eva_record .eva_list li .tel i {
	background: url("icons.__1431674115__.png") no-repeat; margin: 4px 0px 6px; width: 29px; height: 29px; display: inline-block;
}
#below_left .eva_record .eva_list li .tel i.i1 {
	background-position: -410px -40px;
}
#below_left .eva_record .eva_list li .tel i.i2 {
	background-position: -450px -40px;
}
#below_left .eva_record .eva_list li .tel i.i3 {
	background-position: -490px -40px;
}
#below_left .eva_record .eva_list li .tel span {
	background: url("icons.__1431674115__.png") no-repeat -500px -280px; top: 22px; width: 6px; height: 11px; right: -1px; display: inline-block; position: absolute;
}
#below_left .eva_record .eva_list li .comment {
	margin: 0px 0px 0px 15px; width: 715px; float: left; display: inline;
}
#below_left .eva_record .eva_list li .comment p {
	padding: 8px 0px 2px; font-size: 14px;
}
#below_left .eva_record .eva_list li .comment .other_info {
	color: rgb(152, 152, 152); line-height: 19px;
}
#below_left .eva_record .eva_list li .comment .other_info a {
	margin: 0px 0px 0px 6px; color: rgb(70, 151, 198);
}
#below_left .eva_record .eva_list li .comment .other_info span {
	margin: 0px 12px 0px 0px;
}
#below_left .eva_record .eva_list li .comment .other_info .tag1 {
	background: rgb(221, 0, 0); border: 1px solid rgb(206, 1, 0); width: 54px; text-align: center; color: rgb(255, 255, 255); line-height: 17px; display: inline-block;
}
#below_left .eva_record .eva_list li .time {
	padding: 14px 0px 0px; width: 83px; text-align: center; color: rgb(152, 152, 152); float: left; display: inline;
}
#below_left .eva_record p.no_eva {
	padding: 20px 0px; text-align: center; color: rgb(152, 152, 152); font-family: SimSun; font-size: 14px; font-weight: bold;
}
#below_left .eva_record .comment_lazy_load {
	top: 20px; position: relative;
}
#below_left .eva_record .comment_lazy_load img {
	margin: 0px auto; display: block;
}
#links {
	clear: both;
}
#pop_install_details {
	padding: 0px 0px 16px; left: 0px; top: 0px; width: 775px; z-index: 100;
}
#pop_install_details .tips {
	padding: 0px 21px; height: 50px; color: rgb(153, 153, 153); line-height: 50px;
}
#pop_install_details .tips .tel {
	margin: 0px 7px 0px 0px; float: right; display: inline;
}
.pop_table1 {
	margin: 0px auto; width: 739px; border-collapse: collapse;
}
.pop_table1 td {
	background: rgb(247, 247, 247); border: 1px solid rgb(255, 255, 255); height: 50px; text-align: center;
}
.pop_table1 thead td {
	background: rgb(50, 50, 50); height: 35px; color: rgb(255, 255, 255);
}
.pop_table1 tbody td img {
	width: 93px; height: 39px;
}
.pop_table1 .bank {
	width: 93px; height: 39px;
}
.pop_table1 .select1 {
	width: 134px; color: rgb(73, 73, 73); font-size: 14px;
}
#pop_install_details .pop_table1 {
	margin-bottom: 14px;
}
#pop_install_details .app_con {
	margin: 0px 21px; line-height: 24px;
}
#pop_install_details .app_con dt {
	font-weight: bold;
}
#pop_install_details .app_con dt i {
	background: url("icons.__1431674115__.png") no-repeat -290px -278px; margin: 0px 8px 0px 0px; width: 3px; height: 24px; vertical-align: middle; display: inline-block;
}
#pop_install_details .p1 {
	padding: 0px 20px;
}
#pop_install_details .p2 {
	padding: 0px 20px;
}
#pop_install_details .p1 {
	margin: 0px 0px 10px;
}
#pop_install_details .p1 strong {
	color: rgb(252, 83, 0);
}
#pop_install_details .p2 label {
	color: rgb(153, 153, 153);
}
#pop_install_details .p2 strong {
	color: rgb(252, 83, 0); font-family: Arial; font-size: 16px; font-weight: bold;
}
#pop_eva_con {
	top: 460px; width: 523px; z-index: 101;
}
#pop_eva_con .pop_box_content {
	padding: 20px 0px 0px;
}
#pop_eva_con dt {
	padding: 0px 11px 0px 0px; width: 77px; text-align: right; color: rgb(153, 153, 153); float: left; display: inline;
}
#pop_eva_con dt em {
	margin: 0px 5px 0px 0px; color: rgb(222, 0, 0);
}
#pop_eva_con dd {
	width: 435px; float: left; display: inline;
}
#pop_eva_con ul {
	padding: 0px 0px 15px; clear: both;
}
#pop_eva_con li {
	margin: 0px 10px 0px 0px; width: 73px; height: 22px; text-align: center; color: rgb(255, 255, 255); line-height: 22px; float: left; display: inline; cursor: pointer;
}
#pop_eva_con .ul1 li {
	background: rgb(252, 83, 0); border: 1px solid rgb(226, 74, 0);
}
#pop_eva_con .ul2 li {
	background: rgb(113, 166, 209); border: 1px solid rgb(96, 146, 187);
}
#pop_eva_con .ul1 li.li1 {
	background: url("icons.__1431674115__.png") no-repeat -690px -540px rgb(252, 83, 0);
}
#pop_eva_con .ul1 li.li2 {
	background: rgb(254, 169, 128); border: 1px solid rgb(241, 165, 128);
}
#pop_eva_con .ul2 li.li1 {
	background: url("icons.__1431674115__.png") no-repeat -690px -570px rgb(113, 166, 209);
}
#pop_eva_con .ul2 li.li2 {
	background: rgb(184, 211, 232); border: 1px solid rgb(176, 201, 221);
}
#pop_eva_con .error {
	margin: 0px 0px 15px; width: 415px;
}
#pop_eva_con .textarea1 {
	margin: 0px 0px 14px; padding: 0px 5px; border: 1px solid rgb(235, 235, 235); width: 403px; height: 130px; color: rgb(153, 153, 153); line-height: 24px;
}
#pop_eva_con .input_box {
	margin: 0px 0px 14px;
}
#pop_eva_con .input_box .input1 {
	width: 102px;
}
#pop_eva_con .input_box img {
	margin: 0px 10px; width: 56px; height: 34px; vertical-align: middle; display: inline-block; cursor: pointer;
}
#pop_eva_con .a-change {
	line-height: 34px; font-size: 12px;
}
#pop_eva_con_code {
	left: 600px; top: 460px; width: 410px; z-index: 101;
}
#pop_eva_con_code .pop_box_content {
	padding: 10px 0px 0px;
}
#pop_eva_con_code .success_tips {
	background: rgb(241, 241, 241); margin: 0px auto 13px; padding: 10px 0px 7px 40px; border: 1px solid rgb(153, 204, 204); width: 316px; font-size: 12px;
}
#pop_eva_con_code .success_tips p {
	width: 240px; color: rgb(73, 73, 73);
}
#pop_eva_con_code .success_tips strong {
	font-size: 16px; margin-bottom: 3px;
}
#pop_eva_con_code .form_text dt {
	width: 89px; padding-top: 6px;
}
#pop_eva_con_code .form_text dd {
	width: 310px;
}
#pop_eva_con_code .input_box {
	padding-bottom: 5px;
}
#pop_eva_con_code .input1 {
	width: 214px;
}
#pop_eva_con_code .code {
	margin: 0px 0px 5px;
}
#pop_eva_con_code .code a {
	background: url("icons.__1431674115__.png") no-repeat -570px -40px; border: 1px solid rgb(237, 237, 237); width: 128px; height: 23px; text-align: center; color: rgb(73, 73, 73); font-size: 12px; display: inline-block;
}
#pop_eva_con_code .code2 {
	background: rgb(233, 233, 233); margin: 0px 12px 0px 0px; padding: 0px 5px 0px 7px; border: 1px solid rgb(206, 206, 206); height: 22px; color: rgb(165, 165, 165); line-height: 22px; font-family: SimSun; font-size: 12px; display: inline-block;
}
#pop_eva_con_code .code2 strong {
	font-weight: bold;
}
#pop_eva_con_code .code3 {
	background: rgb(244, 247, 234); padding: 0px 5px 0px 7px; border: 1px solid rgb(163, 203, 182); height: 22px; color: rgb(73, 73, 73); line-height: 22px; font-family: SimSun; font-size: 12px; display: inline-block;
}
#pop_eva_con_code .code3 i {
	background: url("icons.__1431674115__.png") no-repeat -130px -607px; margin: 0px 3px 0px 0px; width: 14px; height: 22px; vertical-align: middle; display: inline-block;
}
#pop_eva_con_code .btn {
	padding: 10px 0px 0px; margin-bottom: 9px;
}
#pop_eva_con_code button {
	width: 98px;
}
#pop_eva_con_code .other {
	padding: 0px 0px 0px 25px; color: rgb(153, 153, 153); line-height: 24px; font-size: 12px;
}
#pop_eva_con_code .error {
	width: auto; padding-right: 5px; display: inline-block;
}
.form_text dt {
	padding: 0px 11px 0px 0px; text-align: right; color: rgb(153, 153, 153); float: left; display: inline;
}
.form_text dt em {
	margin: 0px 5px 0px 0px; color: rgb(222, 0, 0);
}
.form_text dd {
	float: left; display: inline;
}
#pop_eva_con_code2 {
	left: 600px; top: 460px; width: 410px; z-index: 101;
}
#pop_eva_con_code2 .pop_box_content {
	padding: 10px 0px 0px;
}
#pop_eva_con_code2 .success_tips {
	background: rgb(241, 241, 241); margin: 0px auto 13px; padding: 10px 0px 7px 40px; border: 1px solid rgb(153, 204, 204); width: 316px; font-size: 12px;
}
#pop_eva_con_code2 .success_tips p {
	width: 240px; color: rgb(73, 73, 73);
}
#pop_eva_con_code2 .success_tips strong {
	font-size: 16px; margin-bottom: 3px;
}
#pop_eva_con_code2 .form_text dt {
	width: 89px; padding-top: 6px;
}
#pop_eva_con_code2 .form_text dd {
	width: 310px;
}
#pop_eva_con_code2 .input_box {
	padding-bottom: 5px;
}
#pop_eva_con_code2 .input1 {
	width: 214px;
}
#pop_eva_con_code2 .code {
	margin: 0px 0px 5px;
}
#pop_eva_con_code2 .code a {
	background: url("icons.__1431674115__.png") no-repeat -570px -40px; border: 1px solid rgb(237, 237, 237); width: 128px; height: 23px; text-align: center; color: rgb(73, 73, 73); font-size: 12px; display: inline-block;
}
#pop_eva_con_code2 .code2 {
	background: rgb(233, 233, 233); margin: 0px 12px 0px 0px; padding: 0px 5px 0px 7px; border: 1px solid rgb(206, 206, 206); height: 22px; color: rgb(165, 165, 165); line-height: 22px; font-family: SimSun; font-size: 12px; display: inline-block;
}
#pop_eva_con_code2 .code2 strong {
	font-weight: bold;
}
#pop_eva_con_code2 .code3 {
	background: rgb(244, 247, 234); padding: 0px 5px 0px 7px; border: 1px solid rgb(163, 203, 182); height: 22px; color: rgb(73, 73, 73); line-height: 22px; font-family: SimSun; font-size: 12px; display: inline-block;
}
#pop_eva_con_code2 .code3 i {
	background: url("icons.__1431674115__.png") no-repeat -130px -607px; margin: 0px 3px 0px 0px; width: 14px; height: 22px; vertical-align: middle; display: inline-block;
}
#pop_eva_con_code2 .btn {
	padding: 10px 0px 0px; margin-bottom: 9px;
}
#pop_eva_con_code2 button {
	width: 98px;
}
#pop_eva_con_code2 .other {
	padding: 0px 0px 0px 25px; color: rgb(153, 153, 153); line-height: 24px; font-size: 12px;
}
#pop_eva_con_code2 .error {
	width: auto; padding-right: 5px; display: inline-block;
}
#pop_eva_con_code2 .form_text dd em {
	margin: 0px 0px 0px 5px; color: rgb(153, 153, 153); padding-top: 6px; display: inline-block;
}
.form_text dt {
	padding: 0px 11px 0px 0px; text-align: right; color: rgb(153, 153, 153); float: left; display: inline;
}
.form_text dt em {
	margin: 0px 5px 0px 0px; color: rgb(222, 0, 0);
}
.form_text dd {
	float: left; display: inline;
}
#pop_eva_con2 {
	top: 855px; width: 523px; z-index: 102;
}
#pop_eva_con2 .success_tips {
	margin: 0px 0px 0px 74px; padding: 121px 0px;
}
.pop_free_sms {
	top: 1250px; width: 566px;
}
.pop_free_sms .info {
	background: rgb(118, 150, 175); margin: 16px 0px 0px 21px; width: 205px; height: 183px; color: rgb(255, 255, 255); line-height: 18px; float: left; display: inline; position: relative;
}
.pop_free_sms .info p {
	padding: 16px;
}
.pop_free_sms .info .arrow {
	background: url("icons.__1431674115__.png") no-repeat -220px -610px; top: 14px; width: 6px; height: 11px; right: -6px; display: inline-block; position: absolute;
}
.pop_free_sms .form {
	margin: 0px 0px 0px 22px; padding: 16px 0px 0px; width: 318px; float: left; display: inline;
}
.pop_free_sms .form .tips1 {
	padding: 9px 0px 8px; width: 288px;
}
.pop_free_sms .form .input_box {
	margin: 0px 0px 15px;
}
.pop_free_sms .form .btn {
	margin: 0px 0px 15px;
}
.pop_free_sms .form .btn button {
	margin: 0px 10px 0px 0px; width: 137px;
}
.pop_free_sms .form .tips2 {
	width: 288px; color: rgb(153, 153, 153); line-height: 18px;
}
.pop_free_sms .form .result {
	margin: 0px 0px 14px; padding: 5px 0px 14px; width: 286px; color: rgb(103, 148, 15); font-family: Microsoft YaHei; font-size: 20px; font-weight: bold; border-bottom-color: rgb(231, 231, 231); border-bottom-width: 1px; border-bottom-style: dashed;
}
.pop_free_sms .form .tips3 {
	color: rgb(153, 153, 153); line-height: 28px;
}
.pop_free_sms .form .tips4 {
	padding: 13px 0px 0px; width: 287px; color: rgb(76, 76, 76); line-height: 18px; margin-bottom: 11px;
}
.pop_free_sms .form .send_again {
	margin: -9px 0px 5px;
}
.pop_free_sms .form .send_again a {
	color: rgb(76, 76, 76);
}
.pop_free_sms .form img {
	width: 80px; height: 34px; vertical-align: middle; float: left; display: inline; cursor: pointer;
}
.pop_login {
	top: 1877px; width: 345px;
}
.pop_login .pop_box_content {
	padding: 16px 0px 0px;
}
.pop_login .input_box {
	padding: 0px 0px 15px 23px; width: 322px; height: 35px; position: relative;
}
.pop_login .input_box .sus {
	left: 33px; top: 6px; color: rgb(153, 153, 153); position: absolute;
}
.pop_login .btn {
	margin: 0px 0px 9px 23px;
}
.pop_login .btn button {
	margin: 0px 10px 0px 0px; width: 137px;
}
.pop_login .tips {
	margin: 0px 0px 0px 23px; color: rgb(154, 154, 154);
}
.pop_login .tips a {
	color: rgb(252, 89, 13);
}
.pop_frame {
	top: 2477px; width: 825px;
}
.pop_frame .pop_box_content {
	padding: 28px 0px; width: 825px;
}
.pop_frame .pop_box_content .left {
	width: 478px; float: left; display: inline;
}
.pop_frame .pop_box_content .right {
	width: 320px; float: left; display: inline;
}
.pop_frame .pop_box_content .left p {
	margin: 0px 0px 20px;
}
.pop_frame .pop_box_content .left dl {
	margin: 0px 0px 0px 31px;
}
.pop_frame .pop_box_content .left dt {
	font-weight: bold; float: left; display: inline;
}
.pop_frame .pop_box_content .left dd {
	margin: 0px 16px 0px 0px; float: left; display: inline;
}
.pop_frame .pop_box_content .left dd i {
	background: url("icons.__1431674115__.png") no-repeat; margin: 0px 12px 0px 0px; width: 14px; height: 30px; vertical-align: middle; display: inline-block;
}
.pop_frame .pop_box_content .left dd i.i1 {
	background-position: -340px -274px;
}
.pop_frame .pop_box_content .left dd i.i2 {
	background-position: -370px -274px;
}
#price_notice {
	top: 20px; width: 369px; right: 0px; z-index: 102;
}
#price_notice .pop_box_content {
	height: 165px; padding-top: 25px;
}
#price_notice .pop_box_content .form_text dt {
	width: 77px; color: rgb(88, 88, 88); padding-top: 6px;
}
#price_notice .pop_box_content .input_box {
	padding-bottom: 15px;
}
#price_notice .pop_box_content .input_box .input1 {
	width: 151px; color: rgb(88, 88, 88); margin-right: 9px;
}
#price_notice .pop_box_content .input_box em.tips {
	color: rgb(88, 88, 88); padding-top: 6px; display: inline-block;
}
#price_notice .pop_box_content .form_text .button1 {
	width: 169px;
}
#price_notice .success_tips {
	margin: 0px 0px 0px 30px; padding: 30px 0px 0px;
}
#price_notice .success_tips p {
	width: 255px;
}
#price_notice .success_tips p strong {
	font-size: 16px;
}
#price_notice img {
	width: 76px; height: 34px; vertical-align: middle; float: left; display: inline; cursor: pointer;
}
.pop_gua_service {
	top: 2030px; width: 667px; right: 0px; z-index: 103;
}
.pop_gua_service .pop_box_content {
	padding: 21px 0px 10px;
}
.pop_gua_service dl {
	margin: 0px 20px 9px; line-height: 24px;
}
.pop_gua_service dt strong {
	color: rgb(73, 73, 73); font-weight: bold;
}
.pop_gua_service dt i {
	background: url("icons.__1431674115__.png") no-repeat -290px -280px; margin: 0px 4px 0px 0px; width: 3px; height: 13px; display: inline-block;
}
.pop_gua_service dd {
	color: rgb(73, 73, 73);
}
.pop_gua_service img.pic {
	margin: 0px auto; padding: 15px 0px 0px; display: block;
}
#fixed_title {
	background: url("fix_title_bg.__1394092426__.gif") repeat-x; left: 0px; width: 100%; height: 40px; bottom: 0px; position: fixed; z-index: 300;
}
#fixed_title .inner {
	margin: 0px auto; width: 1190px;
}
#fixed_title .title1 {
	border-right-color: currentColor; border-right-width: 0px; border-right-style: none; float: left; display: inline;
}
#fixed_title .title1 a {
	width: 138px; text-align: center; color: rgb(73, 73, 73); padding-right: 0px; padding-left: 0px; font-family: Microsoft YaHei; font-size: 16px;
}
#fixed_title .title1 .on a {
	color: rgb(252, 83, 0);
}
#fixed_title .title1 a em {
	color: rgb(252, 83, 0); font-style: normal; font-weight: bold;
}
#fixed_title .tel {
	height: 40px; color: rgb(152, 152, 152); line-height: 40px; font-family: SimSun; font-size: 14px; float: right; display: inline;
}
#fixed_title .tel span {
	display: inline-block;
}
#fixed_title .tel span b {
	top: -2px; font-weight: normal; position: relative;
}
#fixed_title .tel span em {
	color: rgb(73, 73, 73);
}
#fixed_title .tel i {
	background: url("icons.__1431674115__.png") no-repeat -640px -533px; width: 20px; height: 40px; vertical-align: middle; display: inline-block;
}
#fixed_title .tel strong {
	margin: 0px 5px; color: rgb(252, 83, 0); font-family: Tahoma; font-size: 18px; display: inline-block;
}
.qrcode {
	width: 139px; position: relative;
}
.title1 .i-qrcode {
	background: url("icons.__1431674115__.png") no-repeat -760px -771px; margin: 0px 7px; width: 19px; height: 40px; vertical-align: middle; display: inline-block;
}
.title1 .icon-arrow {
	background: url("icons.__1431674115__.png") no-repeat 0px -894px; width: 8px; height: 40px; vertical-align: middle; display: inline-block;
}
.title1 .qrcode-img {
	border: 1px solid rgb(235, 235, 235); left: -1px; top: 40px; width: 138px; overflow: hidden; display: none; position: absolute; z-index: 999; background-color: rgb(255, 255, 255);
}
.title1 .qrcode-img table {
	margin: 6px 19px 16px;
}
.title1 .open h2 {
	line-height: 38px; border-top-color: rgb(235, 235, 235); border-top-width: 1px; border-top-style: solid; position: absolute; z-index: 1000;
}
.title1 .open a {
	background-color: rgb(255, 255, 255);
}
.title1 .open .qrcode-img {
	display: block;
}
.fun-tips {
	background: url("new-fun-tip1.__1414114670__.png") no-repeat 0px 0px; left: 45%; top: -250px; width: 431px; height: 263px; position: absolute; z-index: 1001;
}
.fun-tips .know {
	margin: 190px 50px 0px 200px; width: 110px; height: 54px; display: block; cursor: pointer;
}
.tangram-suggestion-main {
	z-index: 5;
}
.pop_order_car .xing {
	width: 18px; text-align: right; color: rgb(213, 64, 5); line-height: 34px; margin-left: -23px; float: left; display: inline;
}
.pop_order_car .text {
	font-weight: 700;
}
.pop_order_car .input_box {
	padding: 0px 0px 15px 23px;
}
.pop_order_car .input_box .input2 {
	background: rgb(255, 255, 255); padding: 9px 8px 8px; border: 1px solid rgb(237, 237, 237); width: 200px; color: rgb(153, 153, 153); margin-right: 10px; float: left; display: inline;
}
.pop_order_car .input_box .error2 {
	border: 1px solid rgb(255, 0, 0); color: rgb(255, 0, 0);
}
.pop_order_car .input_box img {
	width: 56px; height: 34px; vertical-align: middle; float: left; display: inline; cursor: pointer;
}
.pop_order_car .btn {
	padding: 0px 0px 15px 23px;
}
.pop_order_car .btn button {
	margin: 0px 10px 0px 0px; width: 137px;
}
.pop_box_content .success_box {
	margin: 35px 0px; padding-left: 68px;
}
.pop_box_content .success_box .icon {
	background: url("icons.__1431674115__.png") no-repeat -70px -600px; width: 34px; height: 34px; margin-left: -36px; float: left; display: inline;
}
.pop_box_content .success_box p {
	padding-left: 12px;
}
.pop_box_content .success_box .otherlink {
	margin-top: 10px;
}
.pop_box_content .success_box .otherlink a {
	text-decoration: underline;
}
.pop_box_content .success_box .otherlink i {
	background: url("icons.__1431674115__.png") no-repeat -340px -532px rgb(255, 255, 255); margin: 0px 5px 0px 0px; width: 9px; height: 28px; vertical-align: middle; display: inline-block;
}
#price_notice .msg_verify {
	padding-left: 25px;
}
#price_notice .msg_verify .input_box {
	padding: 5px 0px;
}
#price_notice .msg_verify .btn_box {
	padding: 15px 0px 0px; text-align: center;
}
#price_notice .labels {
	border: 1px solid rgb(225, 225, 225); width: 137px; text-align: center; color: rgb(171, 171, 171); line-height: 33px; font-weight: bold; display: inline-block; background-color: rgb(242, 242, 242);
}
#price_notice .resend {
	color: rgb(73, 73, 73); cursor: pointer;
}
#price_notice .error {
	padding-right: 5px; display: inline-block;
}
.weight-blod {
	font-weight: bold;
}
.qr-code-mobile {
	background: url("kanche.__1415093505__.jpg") no-repeat 0px 0px; width: 210px; height: 240px; overflow: hidden; margin-bottom: 20px;
}
.qr-code-mobile table {
	margin: 38px 55px 102px;
}
