.bm_h .addnew {
	background: url("http://bbs.273.cn/template/eis_c_m1/img/addbuddy.gif") no-repeat 0px 45%; padding-left: 20px; margin-left: 10px;
}
.bm_h .rss {
	background: url("http://bbs.273.cn/template/eis_c_m1/img/feed.gif") no-repeat 0px 45%; padding-left: 20px; margin-left: 10px;
}
.bm_h .addnew {
	background: url("http://bbs.273.cn/template/eis_c_m1/img/addbuddy.gif") no-repeat 0px 45%; padding-left: 20px; margin-left: 10px;
}
.bm_h .rss {
	background: url("http://bbs.273.cn/template/eis_c_m1/img/feed.gif") no-repeat 0px 45%; padding-left: 20px; margin-left: 10px;
}
